<template>
    <div>
        <PhotoModal :name="nameModal"></PhotoModal>
        <div class="form-group">
            <label for="question">{{$t("Wpisz pytanie")}}</label>

            <div class="row">
                <div class="col-10">
                    <input v-model="question" type="text" class="form-control" id="question">
                </div>
                <div class="col-2">
                    <button type="button" v-if="getPath('title') == null" class="btn btn-warning" data-toggle="modal" @click="showPhoto('title')">
                        {{$t("Dodaj zdjęcie")}}
                    </button>
                    <button type="button" v-else class="btn btn-danger" @click="deletePhoto('title')">
                        {{$t("Usuń zdjęcie")}}
                    </button>
                </div>
            </div>

            <img v-if="getPath('title') != null" :src="getPath('title')" class="m-1 img-fluid" alt=""><br>

        </div>
        <div class="form-group">
            <label for="pkt">{{$t("Wpisz ilość punktów za pytanie")}}</label>
            <input v-model="pkt" type="text" class="form-control" id="pkt">
        </div>
        <hr>
        <div class="form-group">
            <label for="answerString">{{$t("Dodaj odpowiedź")}}</label>
            <textarea rows="5" v-model="answerString" type="text" class="form-control" id="answerString" ></textarea>
        </div>
        <div>
            <button @click="addQuestion()" type="button" class="btn btn-primary mt-2">{{$t("Dodaj pytanie")}}</button>
        </div>

    </div>
</template>

<script>

    import notificationMixin from '../../../mixins/notificationMixin'
    import {EventBus} from "../../../event-bus"
    import PhotoModal from '../../Modals/PhotoModal'
    import * as $AB from 'jquery';

    export default {
        name: "LongOpenQuestionComponent",
        components:{
            PhotoModal
        },
        mixins: [
            notificationMixin
        ],
        data: function () {
            return {
                question: "",
                pkt: 0,
                answerString: "",
                answers: [],
                correctAnswer: [],
                assignImages: [],
                nameModal: null
            }
        },
        props: {
            tags: Array
        },
        methods: {
            async addQuestion() {
                this.axios.post('/api/question/createQuestion', {
                    question: this.question,
                    type: 'longOpenQuestion',
                    pkt: this.pkt,
                    answers: this.answers,
                    correctAnswer: [this.answerString],
                    tags: this.tags,
                    assignImages: this.assignImages,
                }).then(() => {
                    this.question = "";
                    this.pkt = 0;
                    this.answers= [];
                    this.correctAnswer= [];
                    this.answerString = "";
                    this.assignImages = [];
                    EventBus.$emit('clearTags')
                    notificationMixin.methods.notifySuccess(this.$t("Pytanie"), this.$t("Pytanie zostało dodane"));
                }).catch(() => {
                    notificationMixin.methods.notifyWarn(this.$t("Pytanie"), this.$t("Pytanie nie zostało dodane"));
                })
            },
            showPhoto: function(name) {
                this.nameModal = name;
                $('#modalPhoto').modal('show');
            },
            getPath: function (id) {
                for(let i = 0; i < this.assignImages.length; i++) {
                    if (this.assignImages[i].name == id) {
                        return this.assignImages[i].value;
                    }
                }
                return null
            },
            deletePhoto: function (id) {
                this.assignImages = this.assignImages.filter(value => value.name != id)
            }
        },
        created() {
            EventBus.$on('addImage', (image, id) =>{
                this.assignImages.push({
                    name: id,
                    value: image
                });
            })
        }
    }
</script>

<style scoped>

</style>
