<template>
    <div>

        <h5>{{$t("Typ pytania")}}</h5>
        <ul class="list-group">
            <li v-for="type in types" :key="type.id"  class="list-group-item"><input v-model="typesFilter" :value="type.id"  class="m-1" type="checkbox">{{ $t(type.name) }}</li>
        </ul>
        <div>
            <button class="btn btn-primary mt-1 mb-1 float-right" @click="updateFacets">{{$t("Wyszukaj")}}</button>
            <button class="btn btn-secondary m-1 float-right" @click="clearFilter('types')">{{$t("Wyczyść")}}</button>
        </div>
        <div style="clear:both"></div>



        <div v-if="firstTenTags.length > 0">
            <h5>{{$t("Etykiety")}}</h5>
            <ul class="list-group">
                <li v-for="tag in firstTenTags" :key="tag.id"  class="list-group-item"><input v-model="tagsFilter" :value="tag.id"  class="m-1" type="checkbox">{{ tag.name }}</li>
            </ul>

            <div>
                <button class="btn btn-primary mt-1 mb-1" v-show="tags.length > 10" @click="showMoreTags()">{{$t("Pokaż więcej")}}</button>
            </div>
            <button class="btn btn-primary mt-1 mb-1 float-right" @click="updateFacets">{{$t("Wyszukaj")}}</button>
            <button class="btn btn-secondary m-1 float-right" @click="clearFilter('tags')">{{$t("Wyczyść")}}</button>
        </div>


        <div class="modal fade" id="tagsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{$t("Tagi")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-3">
                                <ul class="list-group">
                                    <li v-for="tag in getItemsForColumn(1)" :key="tag.id"  class="list-group-item"><input v-model="tagsFilter" :value="tag.id"  class="m-1" type="checkbox">{{ tag.name }}</li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list-group">
                                    <li v-for="tag in getItemsForColumn(2)" :key="tag.id"  class="list-group-item"><input v-model="tagsFilter" :value="tag.id"  class="m-1" type="checkbox">{{ tag.name }}</li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list-group">
                                    <li v-for="tag in getItemsForColumn(3)" :key="tag.id"  class="list-group-item"><input v-model="tagsFilter" :value="tag.id"  class="m-1" type="checkbox">{{ tag.name }}</li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list-group">
                                    <li v-for="tag in getItemsForColumn(4)" :key="tag.id"  class="list-group-item"><input v-model="tagsFilter" :value="tag.id"  class="m-1" type="checkbox">{{ tag.name }}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                        <button type="button" class="btn btn-primary" @click="updateFacets" data-dismiss="modal">{{$t("Wyszukaj")}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {EventBus} from "../../../event-bus";
    import * as $AB from 'jquery';

    export default {
        name: "PanelQuestionsFacetsComponent",
        data: function () {
            return {
                typesFilter: [],
                tagsFilter: [],
                teachers: [],
                types: [],
                tags: []
            }
        },
        computed: {
            firstTenTags: function () {
                return this.tags.slice(0, 10);
            }
        },
        methods: {
            getTypes: function () {
                EventBus.$emit('loading', true);
                this.axios.post('/api/question/getTypes')
                    .then(({data}) => {
                        this.types = data.data[0];
                        EventBus.$emit('loading', false);
                    })
            },
            getTags: function () {
                EventBus.$emit('loading', true);
                this.axios.post('/api/tag/getTags')
                    .then(({data}) => {
                        this.tags = data.data;
                        EventBus.$emit('loading', false);
                    })
            },
            clearFilter: function (filter) {
                if (filter==="teachers") {
                    this.teacherFilter = [];
                } else if (filter==="types") {
                    this.typesFilter = [];
                } else if (filter==="tags") {
                    this.tagsFilter = [];
                }
            },
            updateFacets: function () {
                EventBus.$emit('searchQuestions', {
                    "owner_id": this.teacherFilter,
                    "type_id": this.typesFilter,
                    "tags_id": this.tagsFilter
                });
            },
            showMoreTags: function () {
                $('#tagsModal').modal('show');
            },
            getItemsForColumn: function (numberColumn) {
                let count = this.tags.length;
                let numberInColumn = Math.floor(count / 4) ;
                if (numberColumn === 1) {
                    return this.tags.slice(0, numberInColumn);
                } else if (numberColumn === 2) {
                    return this.tags.slice(numberInColumn + 1, numberInColumn * 2);
                } else if (numberColumn === 3) {
                    return this.tags.slice(numberInColumn * 2 + 1, numberInColumn * 3);
                } else if (numberColumn === 4) {
                    return this.tags.slice(numberInColumn * 3 + 1, count);
                }
            }
        },
        created() {
            EventBus.$on('clearFacets', () => {
                this.clearFilter('teachers')
                this.clearFilter('types')
                this.clearFilter('tags')
            })
            this.getTypes();
            this.getTags();
        }
    }
</script>

<style scoped>

</style>