<template>
    <div>
        <PhotoModal :name="nameModal"></PhotoModal>
        <div class=" mt-2 form-group">
            <label for="question">{{$t("Wpisz pytanie")}}</label>
            <div class="row">
                <div class="col-10">
                    <input v-model="question" type="text" class="form-control" id="question">
                </div>
                <div class="col-2">
                    <button type="button" v-if="getPath('title') == null" class="btn btn-warning" data-toggle="modal" @click="showPhoto('title')">
                        {{$t("Dodaj zdjęcie")}}
                    </button>
                    <button type="button" v-else class="btn btn-danger" @click="deletePhoto('title')">
                        {{$t("Usuń zdjęcie")}}
                    </button>
                </div>
            </div>

            <img v-if="getPath('title') != null" :src="getPath('title')" class="m-1 img-fluid" alt=""><br>

        </div>
        <div class="form-group">
            <label for="pkt">{{$t("Wpisz ilość punktów za pytanie")}}</label>
            <input v-model="pkt" type="text" class="form-control" id="pkt">
        </div>
        <hr>
        <div class="form-group">
            <label for="answerString">{{$t("Dodaj odpowiedź")}}</label>
            <input v-model="answerString" type="text" class="form-control" id="answerString">
        </div>
        <button type="button" class="btn btn-primary" @click="addAnswer()">{{$t("Dodaj odpowiedź")}}</button>
        <div class="p-2" v-for="answer in answers" :key="answer.id">
                    <input class="mr-3" :value="answer.id" v-model="correctAnswer" type="radio">
                    <span>{{answer.name}}</span>

                    <img v-if="getPath(answer.id) != null" :src="getPath(answer.id)" class="m-1 img-fluid" alt=""><br>

                    <div class="form-inline float-right">
                        <button v-if="getPath(answer.id) == null" type="button" class="btn btn-warning" data-toggle="modal" @click="showPhoto(answer.id)">
                            {{$t("Dodaj zdjęcie")}}
                        </button>
                        <button type="button" v-else class="btn btn-danger" @click="deletePhoto(answer.id)">
                            {{$t("Usuń zdjęcie")}}
                        </button>
                        <button type="button" @click="deleteAnswer(answer.id)" class="btn btn-danger float-right ml-1">{{$t("Usuń odpowiedź")}}</button>
                    </div>
        </div>
        <div>
            <button @click="addQuestion()" type="button" class="btn btn-primary mt-2">{{$t("Dodaj pytanie")}}</button>
        </div>

    </div>
</template>

<script>

    import notificationMixin from '../../../mixins/notificationMixin'
    import {EventBus} from "../../../event-bus"
    import PhotoModal from '../../Modals/PhotoModal'

    import * as $AB from 'jquery';

    export default {
        name: "SingleChoiceQuestionComponent",
        components: {
            PhotoModal
        },
        mixins: [
            notificationMixin
        ],
        data: function () {
            return {
                question: "",
                pkt: 0,
                answerString: "",
                answers: [],
                correctAnswer: 0,
                nameModal: null,
                assignImages: []
            }
        },
        props: {
            tags: Array
        },
        methods: {
            addAnswer: function () {
                let id = 1;
                if (this.answers.length > 0) {
                    id = this.answers[this.answers.length - 1].id + 1;
                }
                this.answers.push({id: id, name: this.answerString})
                this.answerString = ''
            },
            deleteAnswer: function (id) {
                this.answers = this.answers.filter(answer => answer.id !== id)
                this.correctAnswer = (this.correctAnswer === id) ? 0 : this.correctAnswer
                this.assignImages = this.assignImages.filter(value => value.name != id)
            },
            async addQuestion() {
                let corr = [];

                if (this.correctAnswer !== 0) {
                    corr = [this.correctAnswer];
                }

                this.axios.post('/api/question/createQuestion', {
                    question: this.question,
                    type: 'singleChoice',
                    pkt: this.pkt,
                    answers: this.answers,
                    correctAnswer: corr,
                    tags: this.tags,
                    assignImages: this.assignImages,
                }).then(() => {
                    this.question = "";
                    this.pkt = 0;
                    this.answers= [];
                    this.correctAnswer= [];
                    this.answerString = "";
                    this.assignImages = [];
                    EventBus.$emit('clearTags');
                    notificationMixin.methods.notifySuccess(this.$t("Pytanie"), this.$t("Pytanie zostało dodane"));
                }).catch(() => {
                    notificationMixin.methods.notifyWarn(this.$t("Pytanie"), this.$t("Pytanie nie zostało dodane"));
                })
            },
            showPhoto: function(name) {
                this.nameModal = name;
                $('#modalPhoto').modal('show');
            },
            getPath: function (id) {
                for(let i = 0; i < this.assignImages.length; i++) {
                    if (this.assignImages[i].name == id) {
                        return this.assignImages[i].value;
                    }
                }
                return null
            },
            deletePhoto: function (id) {
                this.assignImages = this.assignImages.filter(value => value.name != id)
            }
        },
        created() {
            EventBus.$on('addImage', (image, id) =>{
                this.assignImages.push({
                    name: id,
                    value: image
                });
            })
        }
    }
</script>

<style scoped>

</style>