<template>
    <div>
        <h4>{{$t("Konto")}}</h4>
        <div class="card" v-show="loaded">
            <div class="card-body" >
                <table>
                    <tr>
                        <td>{{$t("Imię")}}:</td>
                        <td>{{me.firstName}}</td>
                    </tr>
                    <tr>
                        <td>{{$t("Nazwisko")}}:</td>
                        <td>{{me.lastName}}</td>
                    </tr>
                    <tr>
                        <td>{{$t("Email")}}:</td>
                        <td>{{me.email}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</template>

<script>

    import {EventBus} from "../../event-bus"
    export default {
        name: "SettingsAccountComponent",
        data: function () {
            return {
                me: {},
                loaded: false
            }
        },
        methods: {
            getMe() {
                EventBus.$emit('loading', true);
                this.axios.post("/api/auth/me").then(({data}) => {
                    this.me = data;
                    EventBus.$emit('loading', false);
                    this.loaded = true;
                })
            }
        },
        created() {
            this.getMe();
        }
    }
</script>

<style scoped>

</style>