<template>
    <div>
        <h4>{{$t("Zmiana hasła")}}</h4>
        <form>
            <div class="form-group row">
                <label for="oldPassword" class="col-sm-3 col-form-label">{{$t("Stare hasło")}}</label>
                <div class="col-sm-5">
                    <input type="password" v-model="oldPassword" class="form-control" id="oldPassword">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">{{$t("Nowe hasło")}}</label>
                <div class="col-sm-5">
                    <input type="password" v-model="password" class="form-control" id="password">
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmPassword" class="col-sm-3 col-form-label">{{$t("Powtórz nowe hasło")}}</label>
                <div class="col-sm-5">
                    <input type="password" v-model="passwordConfirm" class="form-control" id="confirmPassword">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="button"  @click="changePassword" class="btn btn-primary float-right">{{$t("Zmień hasło")}}</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import * as types from '../../store/mutation-types'
    import notificationMixin from "../../mixins/notificationMixin";

    export default {
        name: "SettingsChangePasswordComponent",
        mixins: [notificationMixin],
        data: function () {
            return {
                oldPassword: '',
                password: '',
                passwordConfirm: ''
            }
        },
        methods: {
            changePassword() {
                this.axios.post('/api/auth/changePassword', {
                    oldPassword: this.oldPassword,
                    password: this.password,
                    passwordConfirm: this.passwordConfirm
                }).then(() => {
                    notificationMixin.methods.notifySuccess(this.$t("Hasło"), this.$t("Hasło zostało zmienione"));
                    localStorage.clear()
                    this.$store.dispatch(types.LOGOUT);
                    this.$store.dispatch(types.CLEAR);
                    this.$router.push("/")
                }).catch(() => {
                    notificationMixin.methods.notifyWarn(this.$t("Hasło"), this.$t("Hasło nie zostało zmienione"));
                })
            }
        }
    }
</script>

<style scoped>

</style>