<template>
    <div>

        <GetTagsModal class="float-right ml-1"></GetTagsModal>
        <NewTag class="float-right"></NewTag>
        <div class="clearfix"></div>

        <h5 v-show="tags.length > 0">{{$t("Etykiety")}}</h5>
        <div v-for="tag in tags">
            <span class="mt-5">{{ tag }} </span><button @click="removeTag(tag)" type="button" class="btn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></button>
        </div>
        <hr>
        <form>
            <div class="form-group">
                <label for="exampleFormControlSelect1">{{$t("Wybierz rodzaj pytania")}}</label>
                <select  v-model="questionType" class="form-control" id="exampleFormControlSelect1">
                    <option :value="type.type" v-for="type in types" :key="type.id">{{ $t(type.name) }}</option>
                </select>
            </div>
        </form>



        <div v-if="questionType==='singleChoice'">
            <SingleChoiceQuestionComponent :tags="tags"></SingleChoiceQuestionComponent>
        </div>
        <div v-else-if="questionType==='multipleChoice'">
            <MultipleChoiceQuestionComponent :tags="tags"></MultipleChoiceQuestionComponent>
        </div>
        <div v-else-if="questionType==='shortOpenQuestion'">
            <ShortOpenQuestionComponent :tags="tags"></ShortOpenQuestionComponent>
        </div>
        <div v-else-if="questionType==='longOpenQuestion'">
            <LongOpenQuestionComponent :tags="tags"></LongOpenQuestionComponent>
        </div>

    </div>
</template>

<script>

    import GetTagsModal from "../Modals/GetTagsModal"
    import NewTag from "../Modals/NewTag"
    import SingleChoiceQuestionComponent from "./Questions/SingleChoiceQuestionComponent";
    import MultipleChoiceQuestionComponent from "./Questions/MultipleChoiceQuestionComponent";
    import ShortOpenQuestionComponent from "./Questions/ShortOpenQuestionComponent";
    import LongOpenQuestionComponent from "./Questions/LongOpenQuestionComponent";
    import {EventBus} from "../../event-bus"
    import notificationMixin from "../../mixins/notificationMixin";


    export default {
        name: "PanelAddQuestionComponent",
        components: {
            SingleChoiceQuestionComponent,
            MultipleChoiceQuestionComponent,
            ShortOpenQuestionComponent,
            LongOpenQuestionComponent,
            GetTagsModal,
            NewTag
        },
        mixins: [
            notificationMixin
        ],
        data: function () {
            return  {
                types: [],
                questionType: 'singleChoice',
                type_id: 1,
                question: '',
                pkt: 0,
                answerString: '',
                answers: [],
                correctAnswer: 0,
                tags: []
            }
        },
        methods: {
            getQuestionTypes: function () {
                this.axios.post('/api/question/getTypes').then(({data}) => {
                    this.types = data.data[0];
                })
            },
            addQuestion: function (object) {
               this.axios.post('/api/question/createQuestion', {
                   question: object.question,
                   type: object.questionType,
                   pkt: object.pkt,
                   answers: object.answers,
                   correctAnswer: object.correctAnswer
               }).then(() => {
                   notificationMixin.methods.notifySuccess(this.$t("Pytanie"), this.$t("Pytanie zostało dodane."));
               }).catch(() => {
                   notificationMixin.methods.notifyWarn(this.$t("Pytanie"), this.$t("Pytanie nie zostało dodane."));
               })
            },
            removeTag: function (tag) {
                this.tags = this.tags.filter((item) => {
                    return item !== tag
                })
            }
        },
        created() {
            this.getQuestionTypes();
            EventBus.$on('addTagString', (name) => {

                let item = this.tags.filter((item) => {
                    return item === name
                })

                if (item.length === 0) {
                    this.tags.push(name)
                }
            })
            EventBus.$on('clearTags', () => {
                this.tags = [];
            })
        }
    }
</script>

<style scoped>

</style>