<template>
    <ul class="nav nav-tabs mb-5">
        <li class="nav-item">
            <router-link v-if="isLogged" class="nav-link" to="/panel/questions">{{$t("Pytania")}}</router-link>
        </li>
        <li class="nav-item">
            <router-link v-if="isLogged" class="nav-link" to="/panel/questions/add">{{$t("Dodaj pytanie")}}</router-link>
        </li>
        <li class="nav-item">
            <router-link v-if="isLogged" class="nav-link" to="/panel/tests">{{$t("Testy")}}</router-link>
        </li>
        <li class="nav-item">
            <router-link v-if="isLogged" class="nav-link" to="/panel/groups">{{$t("Grupy")}}</router-link>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "PanelNavComponent",
        computed: {
            isLogged() {
                return this.$store.getters.logged
            }
        }
    }
</script>

<style scoped>

</style>