<template>
    <div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="q" :placeholder="$t('Wpisz tytuł') +  '...'">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" @click="getQuestions" type="button">{{$t("Wyszukaj")}}</button>
            </div>
        </div>

        <div v-show="(filters.hasOwnProperty('owner_id') && filters.owner_id.length > 0) || (filters.hasOwnProperty('type_id') && filters.type_id.length > 0)">{{$t("Wyczyść filtry")}}: <button type="button" @click="clearFilter" class="btn-link btn"><i class="fa fa-minus" aria-hidden="true"></i></button></div>

        <div class="row">
            <div class="col-sm-3">
                <PanelQuestionsFacetsComponent></PanelQuestionsFacetsComponent>
            </div>
            <div v-show="questions.length === 0"><h2>{{$t("Baza twoich pytań jest pusta")}}</h2></div>
            <div class="col-sm-9" v-show="questions.length > 0">

                <v-pagination class="justify-content-center"
                        v-model="page"
                        :page-count="pageTotal"
                        :classes="bootstrapPaginationClasses"
                              @input="onChangePage"
                ></v-pagination>

                <div class="card mt-2 mb-2" v-for="question in questions" :key="question.id">
                    <div class="card-body" >
                        <p class="card-text">
                            <span class="font-weight-bold">{{$t("Treść pytania")}}: </span>{{ question.question }} <br>
                            <span class="font-weight-bold">{{$t("Typ pytania")}}: </span>{{ $t(question.type.name)}} <br>
                            <span class="font-weight-bold">{{$t("Ilość punktów")}}: </span>{{ question.pkt}} <br>
                            <span v-show="question.tags.length > 0" class="font-weight-bold">{{$t("Etykiety")}}: </span>
                            <span v-show="question.tags.length > 0" v-for="tag in question.tags" :key="tag.id">
                                {{ tag.name + ", "}}
                            </span>
                        </p>

                        <button type="button" v-if="question.owner_id === userID" class="float-right btn btn-danger m-1" @click="deleteQuestion(question.id)">{{$t("Usuń pytanie")}}</button>
                        <button type="button" class="float-right btn btn-secondary m-1" @click="toTest(question.id)">{{$t("Dodaj do testu")}}</button>
                        <router-link :to="'question/' + question.id" class=" float-right btn btn-primary m-1">{{$t("Przejdź do pytania")}}</router-link>

                    </div>
                </div>

                <v-pagination class="justify-content-center"
                              v-model="page"
                              :page-count="pageTotal"
                              :classes="bootstrapPaginationClasses"
                              @input="onChangePage"
                ></v-pagination>

                <div class="modal fade" id="modalToTest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{$t("Dodaj pytanie do testu")}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">{{$t("Nazwa testu")}}</label>
                                        <div class="col-sm-9">
                                            <select v-model="test_id" class="form-control" id="exampleFormControlSelect1">
                                                <option :value="test.id" v-for="test in tests" :key="test.id">{{ test.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addQuestionsToTask">{{$t("Dodaj pytanie")}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>


    import vPagination from 'vue-plain-pagination'
    import PanelQuestionsFacetsComponent from "./Questions/PanelQuestionsFacetsComponent";
    import {EventBus} from "../../event-bus";
    import * as $AB from 'jquery';

    export default {
        name: "PanelQuestionsComponent",
        data: function () {
            return {
                q: "",
                questions: [],
                filters: {},
                pageOfItems: [],
                pageTotal: 1,
                page: 1,
                bootstrapPaginationClasses: {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'
                },
                count: 0,
                total: 0,
                toTestID: null,
                tests: [],
                test_id: null
            }
        },
        computed: {
            userID() {
                return this.$store.getters.userID
            }
        },
        components: {
            PanelQuestionsFacetsComponent, vPagination
        },
        methods: {
            getQuestions() {
                EventBus.$emit('loading', true);
                this.axios.post('/api/question/getQuestions', {
                    q: this.q,
                    page: this.page,
                    filter: this.filters
                }).then(({data}) => {
                    this.questions = data.data.data;
                    this.pageTotal = data.data.last_page;
                    this.filters = data.data.filters;
                    this.count = data.data.count;
                    this.total = data.data.total;
                    EventBus.$emit('loading', false);
                })
            },
            onChangePage(pageNum) {
                this.page = pageNum;
                this.getQuestions();
            },
            clearFilter: function () {
                this.filters = [];
                EventBus.$emit('clearFacets');
                this.getQuestions();
            },
            deleteQuestion: function (id) {
               EventBus.$emit('loading', true);
               this.axios.post('/api/question/deleteQuestion', {
                    question_id: id,
                }).then(({data}) => {
                    this.getQuestions();
                    EventBus.$emit('loading', false);
               })
            },
            toTest: function (id) {
                this.toTestID = id;
                $('#modalToTest').modal('show');
            },
            getTests: function () {
                EventBus.$emit('loading', true);
                this.axios.post("/api/test/getTests")
                    .then(({data}) => {
                        this.tests = data.data;
                        EventBus.$emit('loading', false);
                    })
            },
            addQuestionsToTask: function () {
                EventBus.$emit('loading', true);
                this.axios.post("/api/test/attachQuestion", {
                    test_id: this.test_id,
                    question_id: this.toTestID
                }).then(() => {
                        EventBus.$emit('loading', false);
                    })
            }
        },
        created() {
            EventBus.$on('searchQuestions', (filters) => {
                this.filters = filters;
                this.getQuestions();
            });

            this.getQuestions();
            this.getTests();
        }
    }
</script>

<style scoped>

</style>