<template>
  <div id="app">
    <loading :active.sync="isLoading"
             :can-cancel="false"
             :is-full-page="fullPage"></loading>
    <notifications group="foo" position="top left"/>
    <nav-bar/>
    <router-view/>
  </div>
</template>

<style>

</style>
<script>
  import {EventBus} from "./event-bus"
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  import NavBar from "./components/NavBarComponent";
  export default {
    components: {NavBar, Loading},
    data: function () {
      return {
        isLoading: false,
        fullPage: true
      }
    },
    methods: {
      loading: function (load) {
          this.isLoading = load;
      }
    },
    created() {
      EventBus.$on('loading', (load) => {
        this.loading(load);
      })
    }

  }
</script>