<template>
    <div>
        <PhotoModal :name="nameModal"></PhotoModal>
        <div v-if="!edited">
            <button v-if="userID === question.owner_id" type="button" class="btn btn-secondary float-right m-1" @click="editQuestion">{{$t("Edytuj pytanie")}}</button>
        </div>
        <div v-else>
            <button type="button" class="btn btn-warning float-right m-1" @click="cancel">{{$t("Anuluj")}}</button>
            <button type="button" class="btn btn-secondary float-right m-1" @click="saveQuestion">{{$t("Zapisz")}}</button>
        </div>

        <span class="font-weight-bold">{{$t("Typ pytania")}}: </span>{{ question.type.name}} <br>

        <span class="font-weight-bold">{{$t("Treść pytania")}}: </span>

        <span v-if="!edited">
            {{ question.question }}
            <div v-if="question.image_path">
                <img class="mt-2 mb-2 img-fluid" :src="question.image_path" alt="">
            </div>
        </span>
        <span v-else>
            <div class="row">
                    <div class="col-10">
                        <input v-model="newQuestion" type="text" class="form-control" id="question">
                    </div>
                    <div class="col-2">
                        <button type="button" v-if="getPath('title') == null" class="btn btn-warning" data-toggle="modal" @click="showPhoto('title')">
                            {{$t("Dodaj zdjęcie")}}
                        </button>
                        <button type="button" v-else class="btn btn-danger" @click="deletePhoto('title')">
                            {{$t("Usuń zdjęcie")}}
                        </button>
                    </div>

            </div>
            <img v-if="getPath('title') != null" :src="getPath('title')" class="m-1 img-fluid" alt=""><br>
        </span> <br>

        <span class="font-weight-bold">{{$t("Ilość punktów")}}: </span>

        <span v-if="!edited">
            {{ question.pkt}}
        </span>
        <span v-else>
            <input type="text" class="form-control" v-model="newNumberPoint">
        </span> <br>

        <span class="font-weight-bold">{{$t("Proponowana odpowiedź")}}: </span>

        <span v-if="!edited">
            {{ question.answers.answers}}
        </span>
        <span v-else>
            <textarea rows="5" type="text" class="form-control" v-model="newAnswer"></textarea>
        </span> <br>



    </div>
</template>

<script>

    import {EventBus} from "../../../../event-bus";
    import notificationMixin from "../../../../mixins/notificationMixin";
    import PhotoModal from '../../../Modals/PhotoModal'

    import * as $AB from 'jquery';

    export default {
        name: "LongOpenQuestionShowComponent",
        components: {
            PhotoModal
        },
        props: {
            question: Object,
            tags: Array
        },
        computed: {
            userID() {
                return this.$store.getters.userID;
            }
        },
        data: function () {
            return {
                correctAnswer: 0,
                edited: false,
                newQuestion: "",
                newNumberPoint: 0,
                answerString: "",
                answers: [],
                newAnswer: "",
                nameModal: null,
                assignImages: [],
            }
        },
        methods: {
            editQuestion: function () {
                this.edited = true;
                this.createAssignImages();
                this.newQuestion = this.question.question;
                this.newNumberPoint = this.question.pkt;
                this.newAnswer = this.question.answers.answers;
                EventBus.$emit("editQuestion", true);
            },
            cancel: function () {
                this.edited = false;
                this.newQuestion = "";
                this.newNumberPoint = 0;
                this.newAnswer = "";
                EventBus.$emit("editQuestion", false);
            },
            async saveQuestion() {
                this.axios.post("/api/question/editQuestion", {
                    question_id: this.question.id,
                    question: this.newQuestion,
                    pkt: this.newNumberPoint,
                    answers: this.answers,
                    correctAnswer: [this.newAnswer],
                    tags: this.tags,
                    assignImages: this.assignImages
                }).then(() => {
                    EventBus.$emit("refreshQuestion");
                    this.cancel();
                })
            },
            showPhoto: function(name) {
                this.nameModal = name;
                $('#modalPhoto').modal('show');
            },
            getPath: function (id) {
                for(let i = 0; i < this.assignImages.length; i++) {
                    if (this.assignImages[i].name == id) {
                        return this.assignImages[i].value;
                    }
                }
                return null
            },
            deletePhoto: function (id) {
                this.assignImages = this.assignImages.filter(value => value.name != id)
            },
            createAssignImages: function () {
                if (this.question.image_path !== null) {
                    this.assignImages.push({
                        name: 'title',
                        value: this.question.image_path
                    });
                }

                for(let i = 0; i < this.question.answers.answers.length; i++) {
                    if (this.question.answers.answers[i].hasOwnProperty('path')) {
                        this.assignImages.push({
                            name: this.question.answers.answers[i].id,
                            value: this.question.answers.answers[i].path
                        });
                    }
                }
            }
        },
        created() {

            EventBus.$on('addImage', (image, id) =>{
                this.assignImages.push({
                    name: id,
                    value: image
                });
            });

        }
    }
</script>

<style scoped>

</style>