<template>
    <div>
        <PhotoModal :name="nameModal"></PhotoModal>
        <div v-if="!edited">
            <button v-if="userID === question.owner_id" type="button" class="btn btn-secondary float-right m-1" @click="editQuestion">{{$t("Edytuj pytanie")}}</button>
        </div>
        <div v-else>
            <button type="button" class="btn btn-warning float-right m-1" @click="cancel">{{$t("Anuluj")}}</button>
            <button type="button" class="btn btn-secondary float-right m-1" @click="saveQuestion">{{$t("Zapisz")}}</button>
        </div>

        <span class="font-weight-bold">{{$t("Typ pytania")}}: </span>{{ question.type.name}} <br>

        <span class="font-weight-bold">{{$t("Treść pytania")}}: </span>

        <span v-if="!edited">
            {{ question.question }}
            <div v-if="question.image_path">
                <img class="m-1 img-fluid" :src="question.image_path" alt="">
            </div>
        </span>
        <span v-else>
            <div class="row">
                        <div class="col-10">
                            <input v-model="newQuestion" type="text" class="form-control" id="question">
                        </div>
                        <div class="col-2">
                            <button type="button" v-if="getPath('title') == null" class="btn btn-warning" data-toggle="modal" @click="showPhoto('title')">
                                {{$t("Dodaj zdjęcie")}}
                            </button>
                            <button type="button" v-else class="btn btn-danger" @click="deletePhoto('title')">
                                {{$t("Usuń zdjęcie")}}
                            </button>
                        </div>

                </div>
                <img v-if="getPath('title') != null" :src="getPath('title')" class="m-1 img-fluid" alt=""><br>
            </span> <br>

        <span class="font-weight-bold">{{$t("Ilość punktów")}}: </span>

        <span v-if="!edited">
            {{ question.pkt}}
        </span>
        <span v-else>
            <input type="text" class="form-control" v-model="newNumberPoint">
        </span> <br>

        <div v-if="edited" class="form-group">
            <label class="font-weight-bold" for="answerString">{{$t("Dodaj odpowiedź")}}: </label>
            <input v-model="answerString" type="text" class="form-control" id="answerString">
        </div>

        <button v-if="edited" type="button" class="btn btn-primary" @click="addAnswer()">{{$t("Dodaj odpowiedź")}}</button>

        <div class="p-2" v-for="answer in answers" :key="answer.id">
            <input class="mr-3" :disabled="!edited" :value="answer.id" v-model="correctAnswer" type="checkbox">
            <span>{{answer.name}}</span>

            <img v-if="answer.path" class="img-fluid" :src="answer.path" alt="">
            <img v-if="getPath(answer.id) != null && edited" :src="getPath(answer.id)" class="m-1 img-fluid" alt=""><br>

            <div v-if="edited" class="form-inline float-right">
                <button v-if="getPath(answer.id) == null" type="button" class="btn btn-warning" data-toggle="modal" @click="showPhoto(answer.id)">
                    {{$t("Dodaj zdjęcie")}}
                </button>
                <button type="button" v-else class="btn btn-danger" @click="deletePhoto(answer.id)">
                    {{$t("Usuń zdjęcie")}}
                </button>
                <button v-if="edited" type="button" @click="deleteAnswer(answer.id)" class="btn btn-danger float-right ml-1">{{$t("Usuń odpowiedź")}}</button>
            </div>
        </div>
    </div>
</template>

<script>

    import {EventBus} from "../../../../event-bus";
    import notificationMixin from "../../../../mixins/notificationMixin";
    import PhotoModal from '../../../Modals/PhotoModal'

    import * as $AB from 'jquery';

    export default {
        name: "MultipleChoiceQuestionShowComponent",
        components: {
            PhotoModal
        },
        props: {
            question: Object,
            tags: Array
        },
        computed: {
            userID() {
                return this.$store.getters.userID;
            }
        },
        data: function () {
            return {
                correctAnswer: [],
                edited: false,
                newQuestion: "",
                newNumberPoint: 0,
                answerString: "",
                answers: [],
                nameModal: null,
                assignImages: [],
            }
        },
        methods: {
            editQuestion: function () {
                this.edited = true;
                this.createAssignImages();
                this.newQuestion = this.question.question;
                this.newNumberPoint = this.question.pkt;
                EventBus.$emit("editQuestion", true);
            },
            cancel: function () {
                this.edited = false;
                this.newQuestion = "";
                this.newNumberPoint = 0;
                EventBus.$emit("editQuestion", false);
            },
            addAnswer: function () {
                let id = 1;
                if (this.answers.length > 0) {
                    id = this.answers[this.answers.length - 1].id + 1;
                }
                this.answers.push({id: id, name: this.answerString})
                this.answerString = ''
            },
            deleteAnswer: function (id) {
                this.answers = this.answers.filter(answer => answer.id !== id);
                this.correctAnswer = this.correctAnswer.filter(value => value !== id);
                this.assignImages = this.assignImages.filter(value => value.name != id)
            },
            async saveQuestion() {
                this.axios.post("/api/question/editQuestion", {
                    question_id: this.question.id,
                    question: this.newQuestion,
                    pkt: this.newNumberPoint,
                    answers: this.answers,
                    correctAnswer: this.correctAnswer,
                    tags: this.tags,
                    assignImages: this.assignImages,
                }).then(() => {
                    EventBus.$emit("refreshQuestion");
                    this.cancel();
                    this.correctAnswer = this.question.answers.goodAnswers;
                    this.answers = this.question.answers.answers;
                })
            },
            showPhoto: function(name) {
                this.nameModal = name;
                $('#modalPhoto').modal('show');
            },
            getPath: function (id) {
                for(let i = 0; i < this.assignImages.length; i++) {
                    if (this.assignImages[i].name == id) {
                        return this.assignImages[i].value;
                    }
                }
                return null
            },
            deletePhoto: function (id) {
                this.assignImages = this.assignImages.filter(value => value.name != id)
            },
            createAssignImages: function () {
                if (this.question.image_path !== null) {
                    this.assignImages.push({
                        name: 'title',
                        value: this.question.image_path
                    });
                }

                for(let i = 0; i < this.question.answers.answers.length; i++) {
                    if (this.question.answers.answers[i].hasOwnProperty('path')) {
                        this.assignImages.push({
                            name: this.question.answers.answers[i].id,
                            value: this.question.answers.answers[i].path
                        });
                    }
                }
            }
        },
        watch: {
            question: function (newQuestion) {
                this.answers = newQuestion.answers.answers;
                this.correctAnswer = newQuestion.answers.goodAnswers;
            }
        },
        created() {

            EventBus.$on('addImage', (image, id) =>{
                this.assignImages.push({
                    name: id,
                    value: image
                });
            });

            this.answers = this.question.answers.answers;
            this.correctAnswer = this.question.answers.goodAnswers;
        }
    }
</script>

<style scoped>

</style>