<template>
    <div>

    </div>
</template>

<script>
    import notificationMixin from "../mixins/notificationMixin";
    export default {
        name: "ActiveUser",
        mixins: [ notificationMixin],
        methods: {
            activeUser: function () {
                this.axios.post("/api/auth/activeUser", {
                    link: this.$route.params.link
                }).then(({data}) => {
                    this.$router.push("/");
                }).catch(() => {
                    notificationMixin.methods.notifyError(this.$t("Aktywacja"), this.$t("Twoje konto nie zostało pomyślnie aktywowane."));
                    this.$router.push("/");
                })
            }
        },
        created() {
            this.activeUser();
        }
    }
</script>

<style scoped>

</style>