<template>
    <div>
        <table class="table" v-if="groups.length > 0">
            <thead>
            <tr>
                <th scope="col">{{$t("Nazwa")}}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="group in groups" :key="group.id">
                <td>{{group.name}}</td>
                <td><button type="button" class="btn btn-primary" @click="getGroupsUsers(group.id)" data-toggle="modal" data-target="#groupModal">
                    {{$t("Zobacz użytkowników")}}
                </button></td>
            </tr>
            </tbody>
        </table>
        <div v-if="groups.length === 0">{{$t("Nie dodałeś jeszcze żadnych grup")}}</div>

        <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{$t("Lista użytkowników")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-9 mb-1">
                                <input type="email" class="form-control" v-model="email" id="exampleFormControlInput1" placeholder="Email">
                            </div>
                            <div class="col-3">
                                <button type="button" @click="addUser()" class="btn btn-primary">{{ $t('Dodaj') }}</button>
                            </div>
                        </div>

                        <hr>

                        <ul class="list-group">
                            <li class="list-group-item" v-for="(email, index) in emails" :key="index"><button @click="deleteUser(email)" type="button" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>{{ email }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Groups",
        data: function () {
            return {
                groups: [],
                emails: [],
                group_id: null,
                email: ""
            }
        },
        methods: {
            getGroups: function () {
                this.axios.post("/api/group/getUserGroups").then(({data}) => {
                    this.groups = data.data;
                })
            },
            getGroupsUsers: function (group_id) {
                this.group_id = group_id;
                this.axios.post("/api/group/getGroupUsers", {
                    group_id: group_id
                }).then(({data}) => {
                    this.emails = data.data;
                })
            },
            addUser: function () {
                this.axios.post("/api/group/addUserToGroup", {
                    group_id: this.group_id,
                    email: this.email
                }).then(() => {
                    this.getGroupsUsers(this.group_id);
                    this.email = "";
                })
            },
            deleteUser: function (email) {
                this.axios.post("/api/group/removeUserToGroup", {
                    group_id: this.group_id,
                    email: email
                }).then(() => {
                    this.getGroupsUsers(this.group_id);
                })
            }
        },
        created() {
            this.getGroups();
        }
    }
</script>

<style scoped>

</style>