<template>
  <div class="home">
    <LoginComponent />
  </div>
</template>

<script>

import LoginComponent from "../components/LoginComponent";

export default {
  name: 'Home',
  components: {
    LoginComponent,
  }
}
</script>
