<template>
    <div class="container">
        <PanelNavComponent></PanelNavComponent>
        <router-view></router-view>
    </div>
</template>

<script>

    import PanelNavComponent from "../components/Panel/PanelNavComponent";
    export default {
        name: "Panel",
        components: {
            PanelNavComponent
        }
    }
</script>

<style scoped>

</style>