<template>
    <div class="mb-5">
        <div v-if="questionType==='singleChoice'">
            <SingleChoiceQuestionShowComponent :question="question" :tags="tags"></SingleChoiceQuestionShowComponent>
        </div>
        <div v-else-if="questionType==='multipleChoice'">
            <MultipleChoiceQuestionShowComponent :question="question" :tags="tags"></MultipleChoiceQuestionShowComponent>
        </div>
        <div v-else-if="questionType==='shortOpenQuestion'">
            <ShortOpenQuestionShowComponent :question="question" :tags="tags"></ShortOpenQuestionShowComponent>
        </div>
        <div v-else-if="questionType==='longOpenQuestion'">
            <LongOpenQuestionShowComponent :question="question" :tags="tags"></LongOpenQuestionShowComponent>
        </div>
        <hr>
        <GetTagsModal v-if="edited" class="float-right ml-1"></GetTagsModal>
        <NewTag v-if="edited" class="float-right"></NewTag>
        <div class="clearfix"></div>

        <h5 v-show="tags.length > 0">{{$t("Etykiety")}}</h5>
        <div  v-for="tag in tags">
            <span class="mt-5">{{ tag }} </span><button v-if="edited" @click="removeTag(tag)" type="button" class="btn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></button>
        </div>

    </div>
</template>

<script>

    import GetTagsModal from './../components/Modals/GetTagsModal'
    import NewTag from './../components/Modals/NewTag'

    import {EventBus} from "../event-bus"
    import SingleChoiceQuestionShowComponent from '../components/Panel/Questions/Show/SingleChoiceQuestionShowComponent'
    import MultipleChoiceQuestionShowComponent from '../components/Panel/Questions/Show/MultipleChoiceQuestionShowComponent'
    import ShortOpenQuestionShowComponent from '../components/Panel/Questions/Show/ShortOpenQuestionShowComponent'
    import LongOpenQuestionShowComponent from '../components/Panel/Questions/Show/LongOpenQuestionShowComponent'

    export default {
        name: "Question",
        components: {
            SingleChoiceQuestionShowComponent,
            MultipleChoiceQuestionShowComponent,
            ShortOpenQuestionShowComponent,
            LongOpenQuestionShowComponent,
            GetTagsModal,
            NewTag
        },
        data: function () {
            return {
                questionID: this.$route.params.id,
                question: {},
                questionType: null,
                tags: [],
                edited: false
            }
        },
        methods: {
            getQuestion: function () {

                EventBus.$emit('loading', true);
                this.axios.post("/api/question/getQuestion", {
                    question_id: this.questionID
                }).then(({data}) => {
                    this.question = data.data[0];
                    for (let i = 0; i < this.question.tags.length; i++) {
                        this.tags.push(this.question.tags[i].name)
                    }
                    this.questionType = this.question.type.type;
                    console.log();
                    EventBus.$emit('loading', false);
                })
            },
            removeTag: function (tag) {
                this.tags = this.tags.filter((item) => {
                    return item !== tag
                })
            }
        },
        mounted() {
            EventBus.$on("refreshQuestion", () => {
                this.tags = [];
                this.getQuestion();
            })
            EventBus.$on("addTagString", (name) => {
                let item = this.tags.filter((item) => {
                    return item === name
                })

                if (item.length === 0) {
                    this.tags.push(name)
                }
            })
            EventBus.$on('editQuestion', (check) => {
                this.edited = check;
            })
            this.getQuestion();
        }
    }
</script>

<style scoped>

</style>
