<template>
    <div class="container">
        <h2>{{$t("Nazwa testu")}}: {{ test.name }}</h2>
        <h5>{{$t("Właściciel testu")}}: {{ test.hasOwnProperty("owner") ? ownerName : "" }}</h5>

        <span v-show="test.endDate !== null" class="fixed-bottom timer" :class="{'text-danger': isDanger || timeLeft}"><h2>{{ displayTimer }}</h2></span>


        <div v-for="(question, index) in test.questions" :key="question.id">

            <div class="card mt-2">
                <div class="card-header">
                    <span class="font-weight-bold" style="font-size: 1.5rem">{{ index + 1 + ". " + question.question }}</span>
                    <div class="float-right">{{ question.pkt }}</div>
                    <br>
                    <img :src="question.path" class="m-1 img-fluid" alt="">
                </div>
                <div class="card-body">
                        <div v-if="question.type === 'singleChoice'">
                            <div v-for="q in question.answers">
                                <input v-model="userAnswers[index].answers" :value="q.id" type="radio">
                                {{ q.name }}
                                <img :src="q.path" class="m-1 img-fluid" alt="">
                            </div>
                        </div>
                        <div v-else-if="question.type === 'multipleChoice'">
                            <div v-for="q in question.answers" :key="q.id">
                                <input :value="q.id" v-model="userAnswers[index].answers" type="checkbox">
                                {{ q.name }}
                                <img :src="q.path" class="m-1 img-fluid" alt="">
                            </div>
                        </div>
                        <div v-else-if="question.type === 'longOpenQuestion'">
                            <textarea class="form-control" v-model="userAnswers[index].answers" type="text" cols="30" rows="10"></textarea>
                        </div>
                        <div v-else-if="question.type === 'shortOpenQuestion'">
                            <input class="form-control" v-model="userAnswers[index].answers" type="text" >
                        </div>


                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary float-right mt-3 mb-5" @click="finishTest">{{$t("Zakończ test")}}</button>

        </div>
</template>

<script>

    import notificationMixin from "../mixins/notificationMixin";
    import moment from 'moment';

    export default {
        name: "Quiz",
        mixins: [
            notificationMixin
        ],
        data: function () {
            return {
                test: {},
                userAnswers: [],
                endDate: null,
                currentDate: moment(),
                time: null,
                displayTimer: null,
                isDanger: false,
                timeLeft: false
            }
        },
        methods: {
            getTest: function () {
                this.axios.post("/api/test/getTestForUser", {
                    test_id: this.$route.params.tid
                }).then( ({data}) => {
                    this.test = data.data.test;
                    this.endDate = moment(data.data.test.endDate);
                    this.time = Math.floor(this.endDate.diff(this.currentDate) / 1000) * 1000;
                    this.countDownTimer();

                    if (this.test.mixQuestions) {
                        this.test.questions = this.shuffle(this.test.questions);
                        for (let i = 0; i < this.test.questions.length; i++) {
                            if (this.test.questions[i].type === 'singleChoice') {
                                this.test.questions[i].answers = this.shuffle(this.test.questions[i].answers);
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: null
                                })
                            }
                            else if (this.test.questions[i].type === 'multipleChoice') {
                                this.test.questions[i].answers = this.shuffle(this.test.questions[i].answers);
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: []
                                })
                            }
                            else if (this.test.questions[i].type === 'shortOpenQuestion') {
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: ""
                                })
                            }
                            else if (this.test.questions[i].type === 'longOpenQuestion') {
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: ""
                                })
                            }
                        }
                    } else {
                        for (let i = 0; i < this.test.questions.length; i++) {
                            if (this.test.questions[i].type === 'singleChoice') {
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: null
                                })
                            }
                            else if (this.test.questions[i].type === 'multipleChoice') {
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: []
                                })
                            }
                            else if (this.test.questions[i].type === 'shortOpenQuestion') {
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: ""
                                })
                            }
                            else if (this.test.questions[i].type === 'longOpenQuestion') {
                                this.userAnswers.push({
                                    question_id: this.test.questions[i].id,
                                    answers: ""
                                })
                            }
                        }
                    }
                }).catch( () => {
                    this.$router.back();
                })
            },
            shuffle: function (array) {
                for (var i = array.length - 1; i > 0; i--) {

                    var j = Math.floor(Math.random() * (i + 1));

                    var temp = array[i];
                    array[i] = array[j];
                    array[j] = temp;
                }

                return array;
            },
            finishTest: function () {
                this.axios.post("/api/test/finishTest", {
                    test_id: this.test.id,
                    answers: this.userAnswers
                }).then(() => {
                    this.$router.back();
                    notificationMixin.methods.notifySuccess(this.$t("Test"), this.$t("Test został wysłany"));
                }).catch(() => {
                    notificationMixin.methods.notifyError(this.$t("Test"), this.$t("Test nie został wysłany"));
                })
            },
            countDownTimer() {
                    setTimeout(() => {
                        this.currentTime = moment();
                        this.time = Math.floor(this.endDate.diff(this.currentTime) / 1000) * 1000;
                        this.countDownTimer()
                    }, 1000)
            },
            getFullDate(value) {
                if (this.timeLeft) {
                    value = Math.abs(value)
                } else {
                    if (this.seconds < 0) {
                        this.timeLeft = true;
                        this.isDanger = false;
                        this.getInfoTimeLeft();
                    }
                }

                if (value < 10) {
                    return '0' + value
                } else return value;
            },
            getInfoDanger() {
                if (this.hours === 0 && this.minutes <= 4 && this.minutes > 0 && !this.isDanger) {
                    this.isDanger = true;
                    notificationMixin.methods.notifyError("Test", "Zbliża się koniec testu.")
                }
            },
            getInfoTimeLeft() {
                if (this.timeLeft) {
                    notificationMixin.methods.notifyError("Test", "Czas się skończył!")
                }
            }
        },
        computed: {
            ownerName: function () {
                return this.test.owner.firstName + " " + this.test.owner.lastName;
            },
            seconds() {
                return (this.time/1000) % 60;
            },
            minutes() {
                return Math.trunc((this.time/1000) / 60) % 60;
            },
            hours() {
                return Math.trunc((this.time/1000) / 60 / 60) % 24;
            }
        },
        watch: {
            time: function () {
                this.displayTimer = this.timeLeft ? "-" : "";
                this.displayTimer = this.displayTimer + this.getFullDate(this.hours) + ":" + this.getFullDate(this.minutes) + ":" + this.getFullDate(this.seconds);
                this.getInfoDanger()
            }
        },
        created() {
            this.getTest();
        }
    }
</script>

<style scoped>

</style>