<template>
    <div>
        <register-component />

    </div>
</template>

<script>
    import RegisterComponent from "../components/RegisterComponent";
    export default {
        name: "Register",
        components: {RegisterComponent}
    }
</script>

<style scoped>

</style>