<template>
    <div class="container">
        <h4>{{$t("Odzyskaj konto")}}</h4>

        <form>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">{{$t("Email")}}</label>
                <div class="col-sm-5">
                    <input type="email" @input="$v.email.$touch()" v-model="email" class="form-control" id="email">
                    <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.required">{{$t("Pole jest wymagane")}}</p>
                    <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.email">{{$t("Pole musi być emailem")}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="button" :disabled="$v.email.$invalid"  @click="sendCode()" class="btn btn-primary float-right">{{$t("Wyślij kod na konto email")}}</button>
                </div>
            </div>
        </form>



        <form>
            <div class="form-group row">
                <label for="oldPassword" class="col-sm-3 col-form-label">{{$t("Kod zmiany hasła")}}</label>
                <div class="col-sm-5">
                    <input type="text" @input="$v.code.$touch()" v-model="code" class="form-control" id="oldPassword">
                    <p class="form-text text-danger" v-if="$v.code.$dirty && !$v.code.required">{{$t("Pole jest wymagane")}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">{{$t("Nowe hasło")}}</label>
                <div class="col-sm-5">
                    <input type="password" @input="$v.password.$touch()" v-model="password" class="form-control" id="password">
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">{{$t("Pole jest wymagane")}}</p>
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.strongPassword">{{$t("Pole musi zawierać litery cyfry znaki specjalne i musi być dłuższe niż 8 znaków")}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmPassword" class="col-sm-3 col-form-label">{{$t("Powtórz nowe hasło")}}</label>
                <div class="col-sm-5">
                    <input type="password" @input="$v.passwordConfirm.$touch()" v-model="passwordConfirm" class="form-control" id="confirmPassword">
                    <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.required">{{$t("Pole jest wymagane")}}</p>
                    <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.sameAsPassword">{{$t("Hasła nie są identyczne")}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="button" :disabled="$v.$invalid" @click="changePassword" class="btn btn-primary float-right">{{$t("Zmień hasło")}}</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import notificationMixin from "../mixins/notificationMixin";

    import { validationMixin } from 'vuelidate'
    import { required, email, sameAs } from 'vuelidate/lib/validators'

    export default {
        name: "RememberPassword",
        mixins: [validationMixin],
        data: function () {
            return {
                email: '',
                code: '',
                password: '',
                passwordConfirm: ''
            }
        },
        validations: {
            email: {
                required,
                email
            },
            code: {
                required
            },
            password: {
                required,
                strongPassword(password1) {
                    return (
                        /[a-z]/.test(password1) && // checks for a-z
                        /[0-9]/.test(password1) && // checks for 0-9
                        /\W|_/.test(password1) && // checks for special char
                        password1.length >= 8
                    );
                }
            },
            passwordConfirm: {
                required,
                sameAsPassword: sameAs('password')
            }
        },
        methods: {
            changePassword() {
                this.axios.post('/api/auth/changePasswordWithCode', {
                   code: this.code,
                    password: this.password,
                    passwordConfirm: this.passwordConfirm
                }).then(() => {
                    notificationMixin.methods.notifySuccess(this.$t("Hasło"), this.$t("Hasło zostało zmienione"));
                    this.$router.push("/")
                }).catch(() => {
                    notificationMixin.methods.notifyWarn(this.$t("Hasło"), this.$t("Hasło nie zostało zmienione"));
                })
            },
            sendCode() {
                this.axios.post('/api/auth/rememberPassword', {
                    email: this.email
                }).then(() => {
                    notificationMixin.methods.notifySuccess(this.$t("Hasło"), this.$t("Kod został wysłany na konto email"));
                }).catch(() => {
                    notificationMixin.methods.notifyWarn(this.$t("Hasło"), this.$t("Kod nie został wysłany na konto email"));
                })
            }
        },
        created() {
            if (this.$store.getters.logged) {
                this.$router.push("/");
            }
        }
    }
</script>

<style scoped>

</style>