<template>
    <div v-show="test !== {}">

        <AlertComponent :message="message" :type="'warning'"></AlertComponent>
        <AlertComponent :message="message2" :type="'success'"></AlertComponent>

        <h3>{{test.name}}</h3>
        <h4>{{(test.hasOwnProperty('lesson')) ? test.lesson.name + "|" + test.owner.firstName + " " + test.owner.lastName : ""}}</h4>

        Status: {{ (test.active === 0)? $t("Stworzony") : ((test.active === 1)? $t("W trakcie"): $t("Zakończony"))  }} <br>


        <div>
            <div v-if="edit === 'startDate'">
                {{$t("Data rozpoczęcia")}}: <br>
                <datetime format="YYYY-MM-DD H:mm" width="300px" v-model="newDate"></datetime>
                <button class="btn btn-primary" @click="saveDate('startDate')">{{$t("Zapisz")}}</button>
                <button class="btn btn-primary" @click="cancelDate">{{$t("Anuluj")}}</button>
            </div>
            <div v-else>
                {{$t("Data rozpoczęcia")}}: {{ (test.startDate)? test.startDate : $t("Data i godzina nie ustalona")}} <button v-show="test.active === 0" class="btn btn-primary" @click="editDate('startDate')">{{$t("Ustaw datę")}}</button>
            </div>

        </div>
        <div class="mt-1">
            <div v-if="edit === 'endDate'">
                {{$t("Data zakończenia")}}: <br>
                <datetime format="YYYY-MM-DD H:mm" width="300px" v-model="newDate"></datetime>
                <button class="btn btn-primary" @click="saveDate('endDate')">{{$t("Zapisz")}}</button>
                <button class="btn btn-primary" @click="cancelDate">{{$t("Anuluj")}}</button>
            </div>
            <div v-else>
                {{$t("Data zakończenia")}}: {{ (test.endDate)? test.endDate : $t("Data i godzina nie ustalona")}} <button class="btn btn-primary" v-show="test.active === 1 || test.active === 0" @click="editDate('endDate')">{{$t("Ustaw datę")}}</button>
            </div>

        </div>





        <button v-if="test.active === 1 && userID === test.owner_id" type="button" @click="finishTest" class="btn btn-warning float-right ml-1">{{$t("Zakończ test")}}</button>
        <button v-if="test.active === 0 && userID === test.owner_id" type="button" @click="active" class="btn btn-primary float-right">{{$t("Aktywuj test")}}</button>
        <button v-if="test.active === 0 && userID === test.owner_id" type="button" data-toggle="modal" data-target="#inviteUsers" class="btn btn-warning float-right mr-1">{{$t("Zaproś użytkowników")}}</button>

        <div v-show="test.hasOwnProperty('questions') && test.questions.length > 0">
            <h5>{{$t("Pytania")}}</h5>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Pytanie")}}</th>
                    <th scope="col">{{$t("Pkt")}}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="question in test.questions" :key="question.id">
                    <td>{{ getText(question.question) }}</td>
                    <td>{{ question.pkt}}</td>
                    <td><router-link :to="'/panel/question/' + question.id" class="btn btn-primary">{{$t("Przejdź")}}</router-link></td>
                    <td><button type="button" class="btn btn-danger" @click="deleteQ(question.id)">{{$t("Usuń z testu")}}</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div v-show="test.hasOwnProperty('user_tests') && test.user_tests.length > 0">
            <h5>{{$t("Odpowiedzi")}}</h5>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Imie i nazwisko")}}</th>
                    <th scope="col">{{$t("Email")}}</th>
                    <th scope="col">{{$t("Status")}}</th>
                    <th scope="col">{{$t("Oddane w czasie")}}</th>
                    <th scope="col">{{$t("Liczba punktów")}}</th>
                    <th scope="col">{{$t("Data zakończenia")}}</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr v-for="testUser in test.user_tests" :key="testUser.id">
                    <td>{{ testUser.user.firstName + " " + testUser.user.lastName }}</td>
                    <td>{{ testUser.user.email }}</td>
                    <td v-html="getStatus(testUser.status)"></td>
                    <td v-html="getInTime(testUser.inTime)"></td>
                    <td>{{ (testUser.status === "checked" || testUser.status === "finished") ? getNumberPkt(testUser.answers) + "/" + getMaxNumberPkt(test.questions) + " | " + getNumberPercentPkt(getNumberPkt(testUser.answers), getMaxNumberPkt(test.questions)) :  ""}}</td>
                    <td>{{ (testUser.status === "checked" || testUser.status === "finished") ? testUser.finishDate :  ""}}</td>
                    <td><router-link :to="'/panel/test/user/' + testUser.id" class="btn btn-primary">{{$t("Przejdź")}}</router-link></td>
                </tr>
                </tbody>
            </table>

        </div>



        <!-- Modal -->
        <div class="modal fade" id="inviteUsers" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{$t("Zaproś użytkowników")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" v-model="choice" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">{{$t("Wpisz email")}}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" v-model="choice" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">{{$t("Z pliku")}}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" v-model="choice" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">{{$t("Z grupy")}}</label>
                        </div>
                        <hr>
                        <div v-if="choice ===  '1'">
                            <label class="form-check-label" for="email">{{$t("Wpisz email użytkownika")}}</label>
                            <div class="row">
                                <div class="col-10"><input id="email" name="email" type="text" class="form-control" v-model="email"></div>
                                <div class="col-2"><button type="button" @click="addToList" class="btn btn-primary">{{$t("Dodaj")}}</button></div>
                            </div>
                        </div>
                        <div v-else-if="choice === '2'">
                            <FileReader @load="users = merge($event)"></FileReader>
                        </div>
                        <div v-else-if="choice === '3'">


                            <label class="form-check-label" for="select">{{$t("Wybierz grupę użytkowników")}}</label>
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        <select v-model="group_id" id="select" class="custom-select">
                                            <option v-for="group in groups" :key="group.id" :value="group.id">{{ group.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2"><button type="button" @click="getGroupsUsers" class="btn btn-primary">{{$t("Dodaj")}}</button></div>
                            </div>


                        </div>

                        <ul class="list-group mt-2">
                            <li class="list-group-item" v-for="(user, index) in users" :key="index"><button @click="deleteUser(user)" type="button" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>{{ user }}</li>
                        </ul>
                        <hr>
                        <div v-if="users.length > 0">
                            <div class="form-check">
                                <input v-model="groupCheckbox" class="form-check-input" type="checkbox"  id="defaultCheck1">
                                <label  class="form-check-label" for="defaultCheck1">
                                    {{$t("Utwórz grupę z listy")}}
                                </label>
                            </div>

                            <div v-if="groupCheckbox">
                                <label class="form-check-label" for="groupName">{{$t("Wpisz nazwę grupy")}}</label>
                                <div class="row">
                                    <div class="col-12"><input id="groupName" name="groupName" type="text" class="form-control" v-model="groupName"></div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="inviteUsers">{{$t("Zaproś")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {EventBus} from "../event-bus"
    import FileReader from '../components/FileReader';
    import AlertComponent from '../components/AlertComponent'
    import datetime from 'vuejs-datetimepicker';
    import moment from 'moment';


    export default {
        name: "Test",
        components: {
            FileReader,
            AlertComponent,
            datetime
        },
        data: function () {
            return {
                testID: this.$route.params.id,
                test: {},
                email: "",
                users: [],
                choice: "1",
                groupCheckbox: false,
                groupName: "",
                addedUsers: {},
                message: "",
                message2: "",
                edit: "",
                newDate: null,
                groups: [],
                group_id: null
            }
        },
        computed: {
            userID() {
                return this.$store.getters.userID;
            },
        },
        methods: {
            getTest: function () {
                EventBus.$emit('loading', true);
                this.axios.post("/api/test/getTest", {
                    test_id: this.testID
                }).then(({data}) => {
                    this.test = data.data[0];
                    this.getGroups();
                    EventBus.$emit('loading', false);
                })
            },
            getText: function (text) {
                if (text.length > 50) {
                    return text.substring(0, 50) + "...";
                } else {
                    return text;
                }

            },
            deleteQ: function (id) {
                this.axios.post("/api/test/detachQuestion", {
                    question_id: id,
                    test_id: this.test.id
                }).then(() => {
                    this.getTest()
                })
            },
            active: function () {
                this.axios.post("/api/test/activeTest", {
                    test_id: this.test.id
                }).then(() => {
                    this.getTest();
                })
            },
            finishTest: function () {
                this.axios.post("/api/test/unActiveTest", {
                    test_id: this.test.id
                }).then(() => {
                    this.getTest();
                })
            },
            getStatus: function (status) {
                if (status === "started"){
                    return '<span class="badge badge-primary">' + this.$t("W trakcie") + '</span>'
                } else if (status === "finished") {
                    return '<span class="badge badge-warning">' + this.$t("Zakończony") + '</span>'
                } else if (status === "invited") {
                    return '<span class="badge badge-info">' + this.$t("Zaproszony") + '</span>'
                } else if (status === "accepted") {
                    return '<span class="badge badge-secondary">' + this.$t("Zaakceptowany") + '</span>'
                } else if (status === 'checked') {
                    return '<span class="badge badge-success">' + this.$t("Sprawdzony") + '</span>'
                }
            },
            getInTime: function (inTime) {
                if (inTime === null) {
                    return "";
                } else if (inTime === 0) {
                    return '<span class="badge badge-danger">' + this.$t("Spóźniony") + '</span>';
                } else if (inTime === 1) {
                    return '<span class="badge badge-success">' + this.$t("W czasie") + '</span>';
                }
            },
            getNumberPkt: function (answers) {
                let pkt = 0;
                for(let i = 0; i < answers.length; i++)
                {
                    pkt = pkt + answers[i].pkt;
                }
                return pkt;
            },
            getMaxNumberPkt: function (questions) {
                let pkt = 0;
                for(let i = 0; i < questions.length; i++)
                {
                    pkt = pkt + questions[i].pkt;
                }
                return pkt;
            },
            getNumberPercentPkt: function (pkt, max) {
                return Math.round(pkt * 100 / max * 100) / 100 + "%"
            },
            inviteUsers: function () {
                this.axios.post('/api/test/attachUsersToTest', {
                    test_id: this.test.id,
                    users: this.users,
                    createGroup: this.groupCheckbox,
                    groupName: this.groupName
                }).then(({data}) => {
                    this.users = [];
                    this.choice = "1";
                    this.groupCheckbox = false;
                    this.groupName = "";
                    this.email = "";
                    this.addedUsers = data.data;
                    this.getTest();
                    if (this.addedUsers.dontFoundUsers.length > 0) {
                        this.message = this.$t("Lista nieznalezionych użytkowników") +": " + '\n';
                        this.addedUsers.dontFoundUsers.forEach( a => this.message = this.message + a + ", " );
                        this.message = this.message.substring(0, this.message.length - 1);
                    }
                    if (this.addedUsers.foundUsers.length > 0) {
                        this.message2 = this.$t("Lista znalezionych użytkowników") +": " + '\n';
                        this.addedUsers.foundUsers.forEach( a => this.message2 = this.message2 + a + ", " );
                        this.message2 = this.message2.substring(0, this.message2.length - 1);
                    }
                })
            },
            addToList: function () {
                if (this.email !== "") {

                    let u = this.users.filter( a => a === this.email)
                    if (u.length === 0) {
                        this.users.push(this.email);
                    }
                    this.email = "";
                }
            },
            deleteUser: function (user) {
                this.users = this.users.filter(a => a !== user);
            },
            merge: function (u) {

                let array3 = this.users = [].concat(this.users, u);
                array3 = array3.filter((item,index)=>{
                    return (array3.indexOf(item) == index)
                });
                return array3;
            },
            editDate: function (value) {
                this.edit = value
                if  (value === 'startDate') {
                    if (this.test.startDate === null) {
                        this.newDate = moment().format("YYYY-MM-DD H:mm")
                    } else {
                        this.newDate = this.test.startDate
                    }
                } else if  (value === 'endDate') {
                    if (this.test.endDate === null) {
                        this.newDate = moment().format("YYYY-MM-DD H:mm")
                    } else {
                        this.newDate = this.test.endDate
                    }
                }
            },
            cancelDate: function () {
                this.edit = null;
                this.newDate = null;
            },
            saveDate: function (value) {
                this.axios.post("/api/test/updateDate", {
                    test_id: this.test.id,
                    type: value,
                    date: this.newDate
                }).then(() => {
                    this.getTest();
                    this.cancelDate();
                })
            },
            getGroups: function () {
                this.axios.post("/api/group/getUserGroups").then(({data}) => {
                    this.groups = data.data;
                })
            },
            getGroupsUsers: function () {
                this.axios.post("/api/group/getGroupUsers", {
                    group_id: this.group_id
                }).then(({data}) => {
                    this.users = this.merge(data.data);
                })
            }

        },
        mounted() {
            this.getTest();
        }
    }
</script>

<style scoped>

</style>