<template>
    <div>
        <h3>{{$t("Testy")}}</h3>
        <AddTestComponent></AddTestComponent>
        <div style="clear:both;"></div>
        <TestComponent v-for="test in tests" :key="test.id" :test="test" v-if="tests.length > 0"></TestComponent>
        <div v-if="tests.length === 0">{{$t("Nie dodałeś jeszcze żadnych testów")}}</div>

    </div>
</template>

<script>

    import TestComponent from "../components/Panel/Test/TestComponent"
    import {EventBus} from "../event-bus"
    import AddTestComponent from "../components/Panel/Test/AddTestComponent"

    export default {
        name: "Tests",
        components: {
            TestComponent, AddTestComponent
        },
        data: function () {
            return {
                tests: []
            }
        },
        methods: {
            getTests: function () {
                EventBus.$emit('loading', true);
                this.axios.post("/api/test/getTests")
                    .then(({data}) => {
                        this.tests = data.data;
                        EventBus.$emit('loading', false);
                    })
            }
        },
        created() {
            EventBus.$on('panelRefreshTests', () => {
                this.getTests();
            })
            this.getTests();
        }
    }
</script>

<style scoped>

</style>