<template>
    <div>
        <div v-show="test.hasOwnProperty('questions')">

            <div class="col-12" v-if="userTest.hasOwnProperty('user')">
                <div class="row" v-if="userTest.hasOwnProperty('user')">
                   <span class="font-weight-bold mr-2">{{$t("Imię i nazwisko")}}: </span>{{ userTest.user.firstName + " " + userTest.user.lastName }}
                </div>
                <div class="row">
                    <span class="font-weight-bold mr-2">{{$t("Nazwa testu")}}: </span> {{ test.name }}
                </div>
                <div class="row" v-if="test.hasOwnProperty('owner')">
                    <span class="font-weight-bold mr-2">{{$t("Właściciel testu")}}: </span> {{ test.owner.firstName + " " + test.owner.lastName }}
                </div>

                <button v-show="userTest.status !== 'checked'" type="button" class="btn btn-primary float-right" @click="acceptTest">{{$t("Zaakceptuj test")}}</button>
                <div style="clear: both"></div>

            </div>



            <div v-show="test.hasOwnProperty('questions')" v-for="(question, index) in test.questions" :key="question.id">

                <div class="card mt-2">
                    <div class="card-header" :class="{ 'bg-warning': userAnswers[index].status !== 'checked' }">
                        <span class="font-weight-bold" style="font-size: 1.5rem">{{ question.question }}</span>
                        <div class="float-right">{{userAnswers[index].pkt + "/" + question.pkt }}</div>
                        <br>
                        <img class="m-1 img-fluid" :src="question.image_path" alt="">

                    </div>
                    <div class="card-body">
                        <div v-if="question.type.type === 'singleChoice'">
                            <div class="col-12">
                                <div v-for="q in question.answers.answers">
                                    <div class="m-1" :class="{ 'bg-success': (userAnswers[index].answer == question.answers.goodAnswers[0] && userAnswers[index].answer == q.id) || question.answers.goodAnswers[0] == q.id , 'bg-danger' : userAnswers[index].answer !== question.answers.goodAnswers[0] && q.id === userAnswers[index].answer }">
                                        <input v-model="userAnswers[index].answer" disabled :value="q.id" type="radio">
                                        {{q.name}}
                                        <img class="m-1 img-fluid" :src="q.path" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="question.type.type === 'multipleChoice'">
                            <div class="col-12">
                                <div v-for="q in question.answers.answers" :key="q.id">
                                    <div class="m-1" :class="{ 'bg-success':  isInArray(q.id, question.answers.goodAnswers) , 'bg-danger' : isNotGood(q.id, userAnswers[index].answer, question.answers.goodAnswers)}">
                                        <input disabled :value="q.id"  v-model="userAnswers[index].answer" type="checkbox">
                                        {{ q.name }}
                                        <img :src="q.path" class="m-1 img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="question.type.type === 'longOpenQuestion'">
                            <div class="float-right" v-if="userTest.status !== 'checked'">
                                <button type="button" class="btn btn-warning mb-1" @click="addPoint(userAnswers[index].id, userAnswers[index].pkt, question.pkt)">{{$t("Przydziel punkty")}}</button>
                            </div>
                            <div class="clearfix"></div>
                            <textarea disabled class="form-control" v-model="userAnswers[index].answer" type="text" cols="30" rows="5"></textarea>
                            <hr>
                            <textarea disabled class="form-control" v-model="question.answers.answers" type="text" cols="30" rows="5"></textarea>
                        </div>
                        <div v-else-if="question.type.type === 'shortOpenQuestion'">
                            <div class="float-right" v-if="userTest.status !== 'checked'">
                                <button type="button" class="btn btn-warning mb-1" @click="addPoint(userAnswers[index].id, userAnswers[index].pkt, question.pkt)">{{$t("Przydziel punkty")}}</button>
                            </div>
                            <div class="clearfix"></div>
                            <input disabled class="form-control" v-model="userAnswers[index].answer" type="text" >
                            <hr>
                            <input disabled class="form-control" v-model="question.answers.answers" type="text" >
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{$t("Przydziel punkty")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="numberPoint">{{$t("Liczba punktów")}}: (min: 0, max {{ maxPoint }})</label>
                        <input type="number" class="form-control" id="numberPoint" v-model="numberPoint" min="0" max="5">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                        <button type="submit" class="btn btn-primary" @click.prevent="doneQuestion()" data-dismiss="modal">{{$t("Zapisz")}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import * as $AB from 'jquery';

    export default {
        name: "UserTest",
        data: function () {
            return {
                userTest: {},
                test: {},
                userAnswers: null,
                answerID: null,
                numberPoint: 0,
                maxPoint: 0
            }
        },
        methods: {
            getElementValue: function (index, id) {
                let element = this.userAnswers[index].answer.filter(item => item.id == id);

                return element[0].value;
            },
            getElementValueGood: function (index, id) {
                let element = this.test.questions[index].answers.goodAnswers.filter(item => item.id == id);

                return element[0].value;
            },
            getUserTest: function () {
                this.axios.post("/api/test/getUserTest", {
                    user_test_id: this.$route.params.id
                }).then(({data}) => {
                    this.userTest = data.data[0];
                    this.test = this.userTest.test;
                    this.userAnswers = this.userTest.answers;
                })
            },
            addPoint: function (answer_id, numberPoint, numberPointMax) {
                this.answerID = answer_id;
                this.maxPoint = numberPointMax;
                this.numberPoint = numberPoint;
                $('#modal').modal('show');
            },
            doneQuestion: function () {
                this.axios.post('/api/test/doneQuestion' , {
                    user_answer_id: this.answerID,
                    pkt: this.numberPoint
                }).then( () => {
                    this.getUserTest()
                    this.answerID = null;
                    this.maxPoint = 0;
                    this.numberPoint = 0;
                })
            },
            acceptTest: function () {
                this.axios.post('/api/test/acceptTest' , {
                    user_test_id: this.userTest.id,
                }).then( () => {
                    this.$router.back();
                })
            },
            isInArray: function (id, answers) {
                for(let i = 0; i < answers.length; i++) {
                    if (id == answers[i]) return true
                }
                return false
            },
            isNotGood: function (id, answers, goodAnswers) {

                let isInAnswers = false;
                let isInGoodAnswers = false;

                for(let i = 0; i < answers.length; i++) {
                    if (id == answers[i]) isInAnswers = true;
                }

                if (isInAnswers) {
                    for(let i = 0; i < goodAnswers.length; i++) {
                        if (id == goodAnswers[i]) isInGoodAnswers = true;
                    }
                } else {
                    return false
                }
                return !isInGoodAnswers;
            }
        },
        created() {
            this.getUserTest()
        }
    }
</script>

<style scoped>
</style>