<template>
    <div class="container">

        <div v-if="!haveData">
            <h1>{{$t("Nie posiadasz żadnych testów")}}</h1>
        </div>

        <div v-if="invited.length > 0">
            <h5>{{$t("Zaproszenia do testów")}}</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Nazwa testu")}}</th>
                    <th scope="col">{{$t("Właściciel testu")}}</th>
                    <th scope="col">{{$t("Email właściciela")}}</th>
                    <th scope="col">{{$t("Data rozpoczęcia")}}</th>
                    <th scope="col">{{$t("Data zakończenia")}}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ut in invited" :key="ut.id">
                    <td>{{ut.test.name}}</td>
                    <td>{{ut.test.owner.firstName + " " + ut.test.owner.lastName}}</td>
                    <td>{{ut.test.owner.email}}</td>
                    <td>{{ (ut.test.startDate)? ut.test.startDate : $t("Data i godzina nie ustalona")}}</td>
                    <td>{{ (ut.test.endDate)? ut.test.endDate : $t("Data i godzina nie ustalona")}}</td>
                    <td><button class="btn btn-primary" @click="acceptInviteToTest(ut.test.id)">{{$t("Zaakceptuj zaproszenie")}}</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div v-if="accepted.length > 0">
            <h5>{{$t("Zaakceptowane testy")}}</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Nazwa testu")}}</th>
                    <th scope="col">{{$t("Właściciel testu")}}</th>
                    <th scope="col">{{$t("Email właściciela")}}</th>
                    <th scope="col">{{$t("Data rozpoczęcia")}}</th>
                    <th scope="col">{{$t("Data zakończenia")}}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ut in accepted" :key="ut.id">
                    <td>{{ut.test.name}}</td>
                    <td>{{ut.test.owner.firstName + " " + ut.test.owner.lastName}}</td>
                    <td>{{ut.test.owner.email}}</td>
                    <td>{{ (ut.test.startDate)? ut.test.startDate : $t("Data i godzina nie ustalona")}}</td>
                    <td>{{ (ut.test.endDate)? ut.test.endDate : $t("Data i godzina nie ustalona")}}</td>
                    <td><button class="btn btn-primary" v-if="ut.test.active === 1" @click="startTest(ut.test.id)">{{$t("Wystartuj test")}}</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div v-if="started.length > 0">
            <h5>{{$t("Wystartowane testy")}}</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Nazwa testu")}}</th>
                    <th scope="col">{{$t("Właściciel testu")}}</th>
                    <th scope="col">{{$t("Email właściciela")}}</th>
                    <th scope="col">{{$t("Data zakończenia")}}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ut in started" :key="ut.id">
                    <td>{{ut.test.name}}</td>
                    <td>{{ut.test.owner.firstName + " " + ut.test.owner.lastName}}</td>
                    <td>{{ut.test.owner.email}}</td>
                    <td>{{ (ut.test.endDate)? ut.test.endDate : $t("Data i godzina nie ustalona")}}</td>
                    <td><router-link :to="'/test/' + ut.test.id" class="btn btn-primary">{{$t("Przejdź to testu")}}</router-link></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div v-if="finished.length > 0">
            <h5>{{$t("Zakończone testy")}}</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Nazwa testu")}}</th>
                    <th scope="col">{{$t("Właściciel testu")}}</th>
                    <th scope="col">{{$t("Email właściciela")}}</th>
                    <th scope="col">{{$t("Oddany w czasie")}}</th>
                    <th scope="col">{{$t("Data oddania")}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ut in finished" :key="ut.id">
                    <td>{{ut.test.name}}</td>
                    <td>{{ut.test.owner.firstName + " " + ut.test.owner.lastName}}</td>
                    <td>{{ut.test.owner.email}}</td>
                    <td v-html="getInTime(ut.inTime)"></td>
                    <td>{{ut.finishDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div v-if="checked.length > 0">
            <h5>{{$t("Sprawdzone testy")}}</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{$t("Nazwa testu")}}</th>
                    <th scope="col">{{$t("Właściciel testu")}}</th>
                    <th scope="col">{{$t("Email właściciela")}}</th>
                    <th scope="col">{{$t("Liczba punktów")}}</th>
                    <th scope="col">{{$t("Oddany w czasie")}}</th>
                    <th scope="col">{{$t("Data oddania")}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ut in checked" :key="ut.id">
                    <td>{{ut.test.name}}</td>
                    <td>{{ut.test.owner.firstName + " " + ut.test.owner.lastName}}</td>
                    <td>{{ut.test.owner.email}}</td>
                    <td>{{ut.pkt + "/" + ut.maxPkt + " | " + getNumberPercentPkt(ut.pkt, ut.maxPkt)}}</td>
                    <td v-html="getInTime(ut.inTime)"></td>
                    <td>{{ut.finishDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</template>



<script>
    import {EventBus} from "../event-bus"

    export default {
        name: "User",
        data: function () {
            return {
                haveData: false,
                finished: [],
                started: [],
                invited: [],
                accepted: [],
                checked: []
            }
        },
        methods: {
            getUserTests: function () {
                this.axios.post("/api/test/getUserTests").then(({data}) => {
                    if (data.data.length > 0) this.haveData = true;
                    this.finished = data.data.filter(a => a.status === "finished")
                    this.started = data.data.filter(a => a.status === "started")
                    this.invited = data.data.filter(a => a.status === "invited")
                    this.accepted = data.data.filter(a => a.status === "accepted")
                    this.checked = data.data.filter(a => a.status === "checked")
                })
            },
            acceptInviteToTest: function (test_id) {
                this.axios.post("/api/test/acceptInviteToTest", {
                    test_id: test_id
                }).then(() => {
                    this.getUserTests();
                })
            },
            getNumberPercentPkt: function (pkt, max) {
                return Math.round(pkt * 100 / max * 100) / 100 + "%"
            },
            startTest: function(test_id) {
                this.axios.post("/api/test/startTest",  {
                    test_id: test_id
                }).then(() => {
                    this.getUserTests();
                })
            },
            getInTime: function (inTime) {
                if (inTime === null) {
                    return "";
                } else if (inTime === 0) {
                    return '<span class="badge badge-danger">' + this.$t("Spóźniony") + '</span>';
                } else if (inTime === 1) {
                    return '<span class="badge badge-success">' + this.$t("W czasie") + '</span>'
                }
            },
        },
        created() {
            this.getUserTests();
        }
    }
</script>

<style scoped>

</style>