<template>
    <div>
        <div v-if="error !== '' && error !== undefined" class="alert" :class="{
        'alert-primary': type==='primary',
        'alert-success': type==='success',
        'alert-danger': type==='danger',
        'alert-warning': type==='warning'
    }" role="alert">
            {{ message }}
        </div>
    </div>

</template>

<script>
    export default {
        name: "AlertValidationComponent",
        props: {
            error: Object,
            type: String
        },
        computed: {
            message: function () {
                let m = "";
                if (this.error !== undefined) {
                    Object.keys(this.error.data.data.error).forEach(key => {
                        m = m + this.error.data.data.error[key][0] + "\n";
                    });
                    return m;
                } else return null;
            }
        }
    }
</script>

<style scoped>

</style>