<template>
    <div>
        <div v-if="message !== '' && message !== undefined" class="alert text-wrap" :class="{
        'alert-primary': type==='primary',
        'alert-success': type==='success',
        'alert-danger': type==='danger',
        'alert-warning': type==='warning'
    }" role="alert">
            {{ message }}
        </div>
    </div>

</template>

<script>
    export default {
        name: "AlertComponent",
        props: {
            message: String,
            type: String
        }
    }
</script>

<style scoped>

</style>