<template>
    <label class="text-reader">
        <input type="file" class="form-control-file" @change="loadTextFromFile" accept=".csv">
    </label>
</template>

<script>
    export default {
        name: "FileReader",
        methods: {
            loadTextFromFile(ev) {
                const file = ev.target.files[0];
                const reader = new FileReader();


                reader.onload = e =>  {
                    let extension = file.name.split('.').pop();
                    let users = [];

                    console.log(extension)

                    let userString = e.target.result

                    if (extension === "txt") {
                    } else if (extension === "csv") {

                        let usersTable = userString.split("\n");

                        for (let i = 0; i< usersTable.length; i++) {

                            let user = usersTable[i].split(" ");
                            users.push(user[0]);
                        }


                    } else {
                        users = []
                    }

                    this.$emit("load", users);
                };
                reader.readAsText(file);
            }
        }
    }
</script>

<style scoped>

</style>