<template>
    <div class="container">

        <AlertComponent :message="message" :type="'danger'"></AlertComponent>

        <div class="row">
            <div class="col-md-6 offset-md-3">

                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">{{ $t("Email")}}: </label>
                        <div class="col-sm-7">
                            <input type="text" @input="$v.email.$touch()" v-model="email" class="form-control" id="email">
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.required">{{$t("Pole jest wymagane")}}</p>
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.email">{{$t("Pole musi być emailem")}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">{{ $t("Hasło")}}: </label>
                        <div class="col-sm-7">
                            <input type="password" @input="$v.password.$touch()" v-model="password" class="form-control" id="password">
                            <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">{{$t("Pole jest wymagane")}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7">
                            <button type="button" :disabled="$v.$invalid" @click="login" class="btn btn-primary">{{ $t("Zaloguj się")}}</button>
                            <router-link type="button" class="btn-link ml-3" to="/remember">{{ $t("Nie pamiętam hasła")}}</router-link>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</template>

<script>

    import AlertComponent from '../components/AlertComponent';
    import notificationMixin from "../mixins/notificationMixin";
    import * as types from '../store/mutation-types'
    import jwtDecode from 'jwt-decode'

    import { validationMixin } from 'vuelidate'
    import { required, email } from 'vuelidate/lib/validators'

    export default {
        name: "LoginComponent",
        components:{
            AlertComponent
        },
        mixins: [notificationMixin, validationMixin],
        validations: {
            email: {
                email,
                required
            },
            password: {
                required
            }
        },
        data: function () {
            return {
                message: undefined,
                email: "",
                password: ""
            }
        },
        methods: {
            login: function () {
                let credentails = {
                    email: this.email,
                    password: this.password
                };

                this.axios.post("/api/auth/login", credentails)
                    .then(({data}) => {
                        localStorage.setItem('token', 'Bearer ' + data.access_token)
                        let decodeToken = jwtDecode(data.access_token);
                        this.$store.dispatch(types.LOGIN);
                        this.$store.dispatch(types.SETID, decodeToken.user.id)
                        this.$router.push("/user")
                    }).catch(error => {
                        this.message = error.response.data.msg;
                        notificationMixin.methods.notifyError(this.$t("Logowanie"), this.$t("Sprawdź dane logowania jeszcze raz!"));
                })
            }
        },
        mounted() {
            if (this.$store.getters.logged) {
                this.$router.push('/user')
            }
        }

    }
</script>

<style scoped>

</style>