<template>
    <div class="container mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <router-link  to="/" class="navbar-brand">
                <img src="/images/logouz.png" class="d-inline-block" alt="">
                StudQuiz
            </router-link>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link v-if="isLogged" to="/panel/questions" class="nav-link">{{ $t('Panel zarządzający') }}</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="isLogged" to="/settings/account" class="nav-link">{{ $t('Konto użytkownika') }}</router-link>
                    </li>
                </ul>


                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a v-if="isLogged" @click="logout" class="nav-link" type="button">{{ $t('Wyloguj') }}</a>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="!isLogged" to="/" class="nav-link">{{ $t('Logowanie') }}</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="!isLogged" to="/register" class="nav-link">{{ $t('Rejestracja') }}</router-link>
                    </li>
                    <li class="nav-item">
                        <div class="locale-changer">
                            <select class="form-control-sm mt-1" @change="changeLocale($event)" v-model="locale">
                                <option  v-for="(lang, i) in langs" :key="`Lang${i}`"  :value="lang.value">{{ lang.name }}</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>


        </nav>
    </div>
</template>


<script>
    import * as types from '../store/mutation-types'
    import notificationMixin from "../mixins/notificationMixin";
    import {EventBus} from "../event-bus"

    export default {
        name: "NavBar",
        mixins: [notificationMixin],
        data: function () {
            return {
                code: '',
                langs: [
                    {
                        name: "Polski",
                        value: "pl"
                    },
                    {
                        name: "English",
                        value: "en"
                    },
                    {
                        name: "French",
                        value: "fr"
                    },
                    {
                        name: "Deutsche",
                        value: "de"
                    }
                ],
                locale: this.$i18n.locale
            }
        },
        computed: {
            isLogged() {
                return this.$store.getters.logged
            }
        },
        methods: {
            logout: function () {
                localStorage.clear()
                this.$store.dispatch(types.LOGOUT);
                this.$store.dispatch(types.CLEAR)
                this.$router.push("/")
            },
            changeLocale: function (event) {
                this.$i18n.locale = event.target.value;
                localStorage.setItem('lang', event.target.value);
            }
        }
    }
</script>

<style scoped>

</style>