<template>
    <div class="container">


        <AlertValidationComponent :error="error" :type="'warning'"></AlertValidationComponent>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-4 col-form-label">{{ $t("Imię")}}:</label>
                        <div class="col-sm-6">
                            <input type="text" @input="$v.firstName.$touch()" v-model="firstName" class="form-control" id="firstName">
                            <p class="form-text text-danger" v-if="$v.firstName.$dirty && !$v.firstName.required">{{$t("Pole jest wymagane")}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-4 col-form-label">{{ $t("Nazwisko")}}: </label>
                        <div class="col-sm-6">
                            <input type="text" @input="$v.lastName.$touch()" v-model="lastName" class="form-control" id="lastName">
                            <p class="form-text text-danger" v-if="$v.lastName.$dirty && !$v.lastName.required">{{$t("Pole jest wymagane")}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">{{ $t("Email")}}: </label>
                        <div class="col-sm-6">
                            <input type="text" v-model="email" @input="$v.email.$touch()" class="form-control" id="email">
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.required">{{$t("Pole jest wymagane")}}</p>
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.email">{{$t("Pole musi być emailem")}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">{{ $t("Hasło")}}: </label>
                        <div class="col-sm-6">
                            <input type="password" @input="$v.password.$touch()" v-model="password" class="form-control" id="password">
                            <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">{{$t("Pole jest wymagane")}}</p>
                            <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.strongPassword">{{$t("Pole musi zawierać litery cyfry znaki specjalne i musi być dłuższe niż 8 znaków")}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordConfirm" class="col-sm-4 col-form-label">{{ $t("Powtórz hasło")}}: </label>
                        <div class="col-sm-6">
                            <input type="password" @input="$v.passwordConfirm.$touch()" v-model="passwordConfirm" class="form-control" id="passwordConfirm">
                            <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.required">{{$t("Pole jest wymagane")}}</p>
                            <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.sameAsPassword">{{$t("Hasła nie są identyczne")}}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" :disabled="$v.$invalid" @click="createUserAccount" class="btn btn-primary">{{ $t("Zarejestruj")}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>

    import notificationMixin from "../mixins/notificationMixin";

    import AlertValidationComponent from "../components/AlertValidationComponent"

    import { validationMixin } from 'vuelidate'
    import { required, email, sameAs } from 'vuelidate/lib/validators'

    export default {
        name: "RegisterComponent",
        components: {
            AlertValidationComponent
        },
        mixins: [notificationMixin,validationMixin],
        data: function () {
            return {
                error: undefined,
                email: "",
                firstName: "",
                lastName: "",
                password: "",
                passwordConfirm: ""
            }
        },
        validations: {
            email: {
                required,
                email
            },
            firstName: {
                required
            },
            lastName: {
                required
            },
            password: {
                required,
                strongPassword(password1) {
                    return (
                        /[a-z]/.test(password1) && // checks for a-z
                        /[0-9]/.test(password1) && // checks for 0-9
                        /\W|_/.test(password1) && // checks for special char
                        password1.length >= 8
                    );
                }
            },
            passwordConfirm: {
                required,
                sameAsPassword: sameAs('password')
            }
        },
        methods: {
            createUserAccount: function () {
                let credentials = {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    email: this.email,
                    password:  this.password,
                    passwordConfirm: this.passwordConfirm,
                };

                this.axios.post("/api/auth/createUserAccount", credentials)
                    .then(() => {
                        notificationMixin.methods.notifySuccess(this.$t("Rejestracja"), this.$t("Udało ci się zarejestrować do systemu. Teraz aktywuj konto."))
                        this.$router.push("/");
                    }).catch(error => {
                        this.error = error.response;
                        notificationMixin.methods.notifyError(this.$t("Rejestracja"), this.$t("Wystąpił błąd poczas rejestracji. Sprawdź swoje dane jeszcze raz!"))
                })
            }
        }
    }


</script>

<style scoped>

</style>