<template>
    <div>
        <button type="button" class="btn-primary btn float-right mb-1" data-toggle="modal" data-target="#addTestModal">{{$t("Dodaj test")}}</button>

        <div class="modal fade" id="addTestModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{$t("Dodaj test")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="nameTest" class="col-sm-3 col-form-label">{{$t("Nazwa testu")}}</label>
                                <div class="col-sm-9">
                                    <input v-model="name" type="text" class="form-control" id="nameTest">
                                </div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" v-model="mixQuestions">
                                    Mieszanie odpowiedzi oraz pytań
                                </label>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                        <button type="button" class="btn btn-primary" @click="addTest" data-dismiss="modal">{{$t("Dodaj test")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {EventBus} from "../../../event-bus"
    import notificationMixin from "../../../mixins/notificationMixin";

    export default {
        name: "AddTestComponent",
        mixins: [notificationMixin],
        data: function () {
            return {
                name: "",
                mixQuestions: true
            }
        },
        methods: {
            addTest: function () {
                this.axios.post("/api/test/createTest", {
                    name: this.name,
                    mixQuestions: this.mixQuestions
                }).then(() => {
                    this.name = '';
                    notificationMixin.methods.notifySuccess(this.$t("Test"), this.$t("Test został dodany"));
                    EventBus.$emit('panelRefreshTests');
                }).catch(() => {
                    notificationMixin.methods.notifyWarn(this.$t("Test"), this.$t("Test nie został dodany"));
                })
            }
        }
    }
</script>

<style scoped>

</style>