<template>
    <div class="mb-1 mt-1">
        <div class="card">
            <div class="card-body">
                <span class="font-weight-bolder">{{test.name}}</span>
                <div class="float-right">
                    <router-link :to="'test/' + test.id" class="btn btn-primary">{{$t("Przejdź do testu")}}</router-link>
                    <button type="button" class="btn btn-warning" data-toggle="modal" :data-target="'#modal' + test.id">
                        {{$t("Edytuj")}}
                    </button>
                    <button @click="deleteTest" class="btn btn-danger">{{$t("Usuń")}}</button>
                </div>

            </div>
        </div>
        <ChangeNameTestModal :testID="test.id" :nameProp="test.name" :mixQuestions="test.mixQuestions"></ChangeNameTestModal>
    </div>
</template>

<script>

    import ChangeNameTestModal from "../../Modals/ChangeNameTestModal";
    import {EventBus} from "../../../event-bus"
    import notificationMixin from "../../../mixins/notificationMixin";

    export default {
        name: "TestComponent",
        mixins: [ notificationMixin ],
        components: {
            ChangeNameTestModal
        },
        props: {
            test: Object
        },
        methods: {
            deleteTest: function () {
                this.axios.post("/api/test/deleteTest", {
                    test_id: this.test.id
                }).then(() => {
                    notificationMixin.methods.notifySuccess(this.$t("Test"), this.$t("Test został dodany"));
                    EventBus.$emit('panelRefreshTests');
                }).catch( () => {
                    notificationMixin.methods.notifyWarn(this.$t("Test"), this.$t("Test nie został dodany"));
                })
            }
        }


    }
</script>

<style scoped>

</style>