<template>
    <!-- Modal -->
    <div class="modal fade" :id="'modal' + testID" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{$t("Edytuj test")}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label :for="'name' + testID" class="col-sm-2 col-form-label">{{$t("Nazwa")}}</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="name" class="form-control" :id="'name' + testID">
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-model="mixQuestionsCheckbox">
                            Mieszanie odpowiedzi oraz pytań
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                    <button type="button" @click="changeName()" class="btn btn-primary" data-dismiss="modal">{{$t("Zapisz")}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import ModalComponent from "./ModalComponent";
    import {EventBus} from "../../event-bus"
    import notificationMixin from "../../mixins/notificationMixin";

    export default {
        name: "ChangeNameModal",
        mixins: [notificationMixin],
        components: {
            ModalComponent
        },
        props: {
            testID: Number,
            nameProp: String,
            mixQuestions: Number
        },
        data: function () {
            return {
                name: this.nameProp,
                mixQuestionsCheckbox: this.mixQuestions
            }
        },
        methods: {
            changeName() {
                    this.axios.post('/api/test/editTest', {
                        test_id: this.testID,
                        name: this.name,
                        mixQuestions: this.mixQuestionsCheckbox
                    }).then(() => {
                        notificationMixin.methods.notifySuccess(this.$t("Test"), this.$t("Nazwa testu została zmieniona"));
                        EventBus.$emit('panelRefreshTests');
                    }).catch(() => {
                        notificationMixin.methods.notifyWarn(this.$t("Test"), this.$t("Nazwa testu nie została zmieniona"));
                    })

            }
        }
    }
</script>

<style scoped>

</style>