<template>
    <ModalComponent :nameModal="'getTags'">
        <span slot="buttonName">{{$t("Wybierz etykiete")}}</span>
        <span slot="title">{{$t("Etykiety")}}</span>
        <span slot="body">

             <div v-if="filteredTags.length > 0">

                <input v-model="name" class="form-control mb-1" :placeholder="$t('Wyszukaj po nazwie')">
                <jw-pagination :labels="customLabels" v-show="!name" :items="tags" @changePage="onChangePage"></jw-pagination>
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col-9">{{$t("Nazwa")}}</th>
                        <th scope="col-3"></th>
                    </tr>
                    </thead>
                    <tbody v-if="name">
                    <tr v-for="tag in filteredTags" :key="tag.id">
                        <td>{{tag.name}}</td>
                        <button type="button" class="btn btn-light m-1" @click="addTag(tag.name)">{{$t("Dodaj")}}</button>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr v-for="tag in pageOfItems" :key="tag.id">
                        <td>{{tag.name}}</td>
                        <button type="button" class="btn btn-light m-1" @click="addTag(tag.name)">{{$t("Dodaj")}}</button>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <input v-model="name" class="form-control mb-1" :placeholder="$t('Wyszukaj po nazwie')">
            </div>

        </span>


    </ModalComponent>
</template>

<script>

    import ModalComponent from "./ModalComponent";
    import {EventBus} from "../../event-bus"
    import notificationMixin from "../../mixins/notificationMixin";

    const customLabels = {
        first: '<<',
        last: '>>',
        previous: '<',
        next: '>'
    };

    export default {
        name: "GetTagsModal",
        mixins: [notificationMixin],
        components: {
            ModalComponent
        },
        data: function () {
            return {
                tags: [],
                pageOfItems: [],
                customLabels,
                name: "",
                tagToAttach: null
            }
        },
        props: {
            questionID: Number
        },
        computed: {
            filteredTags () {
                const { name } = this
                return this.tags.filter(tag => tag.name.toLowerCase().indexOf(name.toLowerCase()) > -1)

            }
        },methods: {
            getTags: function () {
                EventBus.$emit('loading', true);
                this.axios.post('/api/tag/getTags')
                    .then(({data}) => {
                    this.tags = data.data;
                    EventBus.$emit('loading', false);
                })
            },
            onChangePage(pageOfItems) {
                this.pageOfItems = pageOfItems;
            },
            addTag: function (name) {
                EventBus.$emit('addTagString', name);
            }
        },
        created() {
            this.getTags();
        }
    }
</script>

<style scoped>

</style>