<template>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#' + nameModal">
            <slot name="buttonName"></slot>
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="nameModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><slot name="title"></slot></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t("Zamknij")}}</button>
                        <slot name="confirmButton"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let nameModal;
    export default {
        name: "ModalComponent",
        props: {
            nameModal
        }
    }
</script>

<style scoped>

</style>