<template>
    <ModalComponent :nameModal="'newTag'">
        <span slot="buttonName">{{$t("Dodaj etykiete")}}</span>
        <span slot="title">Etykiety</span>
        <span slot="body">

              <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">{{$t("Nazwa etykiety")}}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" v-model="name" id="name" :placeholder="$t('Nazwa')">
                </div>
              </div>

        </span>
        <button slot="confirmButton" type="button" @click="addTag()" class="btn btn-primary mt-2" data-dismiss="modal">{{$t("Dodaj")}}</button>

    </ModalComponent>
</template>

<script>

    import ModalComponent from "./ModalComponent";
    import {EventBus} from "../../event-bus"
    import notificationMixin from "../../mixins/notificationMixin";

    export default {
        name: "NewTag",
        mixins: [notificationMixin],
        components: {
            ModalComponent
        },
        data: function () {
            return {
                name: ""
            }
        },
        methods: {
            addTag: function () {
                EventBus.$emit('addTagString', this.name)
                this.name = ""
            }
        }
    }
</script>

<style scoped>

</style>