<template>
    <div class="modal fade" :id="'modalPhoto'" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{$t("Dodaj zdjęcie")}}</h5>
                </div>
                <div class="modal-body">

                    <div v-if="image !== null">
                        <img :src="image.path" class="m-1 img-fluid" alt=""><br>
                    </div>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Zdjęcia do pytania</label>
                            <input id="exampleFormControlFile1" ref="fileInput" type="file" class="form-control-file" @change="onFileChange" accept=".jpg,.jpeg,.png" multiple>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="cancelPhoto" :disabled="disable">{{$t("Zamknij")}}</button>
                    <button type="button" @click="savePhoto()" class="btn btn-primary" :disabled="disable">{{$t("Zapisz")}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>



    import {EventBus} from "../../event-bus";

    export default {
        name: "PhotoModal",
        data: function() {
            return {
                images: [],
                image: null,
                disable: false
            }
        },
        props: {
            name
        },
        methods: {
            onFileChange: function (e) {
                this.images = [];
                let selectedFiles=e.target.files;
                if(!selectedFiles.length){
                    return false;
                }
                for(let i=0;i<selectedFiles.length;i++){
                    this.images.push(selectedFiles[i]);
                }
                this.uploadImages();
            },
            async uploadImages() {
                this.disable = true;
                let currentObj = this;
                const config = { headers: { 'Content-Type': 'multipart/form-data' } };

                let formData = new FormData();

                for(let i=0; i<this.images.length;i++){
                    formData.append('images[]',this.images[i]);
                }
                await this.axios.post("/api/image/uploadImages", formData, config).then(({data}) => {
                    this.image = data.data[0];
                });
                this.disable = false;
            },
            cancelPhoto: function () {
                this.image = null;
                this.$refs.fileInput.value = null;
                this.images = [];
                this.disable = false;
                $('#modalPhoto').modal('hide');
            },
            savePhoto: function () {
                EventBus.$emit('addImage', this.image.path, this.name);
                this.image = null;
                this.$refs.fileInput.value = null;
                this.images = [];
                this.disable = false;
                $('#modalPhoto').modal('hide');
            }
        }
    }
</script>

<style scoped>

</style>